[2015-02-12 17:39] joni2back opened #1 "Clear sidebar tree navigator with unopened folders"
The tree is keeping all picked directories but is not cleaning anyone when the folder is closed or changed

[2015-02-18 13:58] #1 closed

[2015-04-22 18:12] joni2back opened #4 "Include unix chmod permission module if the server is linux"
* API should work with chmod numbers such as 777, 465
* Frontend should work with checkboxes to handle chmod numbers such as cPanel manager

![filemanager_chmod_3](https://cloud.githubusercontent.com/assets/2049935/7281764/f9356fa4-e901-11e4-87d9-800a0387a715.png)

[2015-04-23 18:24] joni2back opened #5 "Enable/Disable features by config file or query params"
Admin will enable or disable filemanager features/modules such as compress or permissions setting in a config file

[2015-04-23 18:26] #4 closed

[2015-04-23 19:59] joni2back opened #6 "Cannot minify with YUI compressor"
Unknown error minifying

[2015-04-24 12:11] #6 closed

[2015-04-24 15:44] marsbard opened #7 "authenticate, and pass credentials to backend ftp server"
I was hoping this was going to ask me for credentials and pass them to the backend ftp server but currently it doesn't. This would be a lot more useful than just exposing a single account and having unauthenticated access to it.

In case you're interested, I was hoping to add it to our community build of the alfresco ECM system https://github.com/marsbard/puppet-alfresco to provide a lightweight a

[2015-04-24 16:18] joni2back commented on #7
Hi Martin, a login page its a good idea that i've forgotten.
To clarify, are you interested to collaborate in this project developing a bridge (backend API) for Alfresco? ..and i can make the login page.

Regards!

[2015-04-24 16:56] marsbard commented on #7
Actually I did think that initially but actually Alfresco implements an ftp server so we were thinking to use that, that would be quickest to get it going. We might consider a bridge later as it could give us more fine grained control perhaps.

[2015-04-24 17:39] joni2back opened #8 "Implement login section"
Related #7 , Determine if its better a login like landing page or immutable-modal

[2015-04-24 17:59] joni2back commented on #7
The idea of this file manager is to be used with multiples purposes, not just as a ftp file navigator.
The scope is determined by the bridge/connector .. for example could be work as a system file navigator.

By the way, i just created an issue #8 that is related with an optional/pre-configurable login section.
If you are interested to work on it you are welcome proposing a pull request (frontend

[2015-04-24 19:44] marsbard commented on #7
If we were to make a bridge at some point in the future it would likely be CMIS browser bindings

[2015-04-24 19:47] #7 closed

[2015-04-28 15:46] mandatorySuicide opened #9 "File Delete and Co-responding Tree View in Left Navigation Bar"
When a directory is deleted , the left side menu's tree view should be updated as well. But it doesn't happen automatically. I used your module somewhere in my project and I had to update your "buildTree" method to update the left navigation tree when a directory is deleted. I think you should fix it in your project as well ASAP. :)

[2015-04-28 15:55] pallavsipani opened #10 "Unminified version of js file"
I am trying to build upon your project. Please provide the expanded version of angular-filemanager.min.js. The minified version is a little cryptic to understand whats going on. Thanks.

[2015-04-28 17:23] joni2back commented on #10
Hello, you can use the commented source instead using the minified file..
https://github.com/joni2back/angular-filemanager/blob/master/index.html
[code]
instead
[code]
---------------
I just updated [bash.sh](https://github.com/joni2back/angular-filemanager/blob/master/build.sh) to pass parameters, so now you can do:
[code]

[2015-04-28 17:24] joni2back opened #11 "Tree navigation does not update directories"
Issue related #9

[2015-04-28 17:26] joni2back commented on #9
Hello, I just created an issue with this bug. If you found a solution, please don't forget make a pull request.
Regards.

[2015-04-28 17:32] joni2back commented on #9
If you are using this project, please don't forget to give a star :yum:

[2015-04-28 17:36] joni2back opened #12 "Duplicated request in upload"
Firefox, upload file request is double.
Check form submit + button submit onclick

[2015-04-28 17:46] #12 closed

[2015-04-28 18:15] pallavsipani commented on #10
Great. Thanks a lot :)

On Tue, Apr 28, 2015 at 10:23 AM, Jonas Sciangula Street <
notifications@github.com> wrote:

[2015-04-28 18:35] joni2back commented on #5
Setting by query param (overriding config file)
[code]

[2015-04-28 18:35] #5 closed

[2015-04-29 13:43] joni2back commented on #10
:+1:

[2015-04-29 13:43] #10 closed

[2015-04-29 16:19] mandatorySuicide commented on #9
Ya I already fixed it :) Right now I am rebuilding the whole tree after
querying my server but I am looking for a better approach. Tomorrow I have
to close my sprint and that's why I am running out of time with my project
but as soon as I get some time I will work with it. I am also planning some
enhancement to add drag and drop file upload. I mean i want to enhance your
file upload feature. Your

[2015-04-29 16:40] joni2back commented on #9
Excellent :+1: !!!

[2015-05-05 18:40] mandatorySuicide commented on #9
Hey, I just fixed the issue! It works nicely with asp .net Web API backend!

Sent with MailTrack
<https://mailtrack.io/install?source=signature&lang=en&referral=najim.ju@gmail.com&idSignature=22>

On Wed, Apr 29, 2015 at 9:40 AM, Jonas Sciangula Street <
notifications@github.com> wrote:

[2015-05-05 18:41] joni2back commented on #9
great!! can you please make a pull request?

[2015-05-06 04:41] mandatorySuicide commented on #9
Yes, hopefully today or tomorrow I will make a pull request :) yesterday I
just learned how to fork and send pull request :p .

On Wed, May 6, 2015 at 12:41 AM, Jonas Sciangula Street <
notifications@github.com> wrote:

[2015-05-06 18:21] joni2back commented on #9
Ok, if you have problems doing the pull request, just paste the code here :smile_cat:

[2015-05-06 18:27] #11 closed

[2015-05-06 20:21] mandatorySuicide commented on #9
Hi , Please check if you got my pull request with my updated code.

Sent with MailTrack
<https://mailtrack.io/install?source=signature&lang=en&referral=najim.ju@gmail.com&idSignature=22>

On Thu, May 7, 2015 at 12:21 AM, Jonas Sciangula Street <
notifications@github.com> wrote:

[2015-05-20 15:30] OnlyJCash opened #15 "Select file"
Hi everyone,

is it possible to select a file in folder?
is it possible to get a file selected in folder to do another action?

Thanks
Best regards

Michele

[2015-05-20 16:10] joni2back commented on #15
Hello how are you?
I cannot understand what are you want to do with the file manager.
Can you describe with more details the action you want to do?

Regards.

[2015-05-27 09:35] ptitbibice opened #16 "Get started"
Hi,
can we have a get started or a tutorial for implement your filemanager in wepapplication ?
I have try, pull the project, but i have one error :

 Strict standards: Declaration of FileManager::download() should be compatible with PHPClassic\Ftp::download($remotePath, $localPath, $mode = 'auto') in /home/dev/htdocs/web4/public/elisracing/angular-filemanager/bridges/php/handler.php on line 101

T

[2015-05-27 11:17] #16 closed

[2015-05-27 11:18] joni2back commented on #16
Hi @ptitbibice, I just fixed this bug. Please check now.

Regards!

[2015-05-27 11:48] ptitbibice commented on #16
hi,
ty fir your support.
now, i have a internal server error 500 when i create folder.

[2015-05-27 13:20] joni2back commented on #16
Have you set the ftp credentials in **handler.php**?
[code]

This problem could be related to permissions
[code]
can you create the folder using ftp software like filezilla?

[2015-05-27 13:45] ptitbibice commented on #16
I include your project in my application, so i don't need set the ftp credentials. isn't it ?
ty @joni2back

[2015-05-27 14:18] joni2back commented on #16
If you are including the project in your app, you must use your own backend handler.
This repo handler.php is only for the online demo page...

[2015-05-27 14:37] ptitbibice commented on #16
ok

thanks for your support.
Have you already write own backend handler like this?
if you don't have, i go to write this handler for my backend.

Good job for this managerfile

[2015-05-27 15:22] joni2back commented on #16
Thank you! Don't forget to give a star to the project :smiley_cat:  :star:

[2015-06-01 14:57] OnlyJCash commented on #15
Hi,

Scenario example: i'm editing a news entity in my CMS. News entity has a Set of String containing a relative path to document (image or other). So, through CMS UI and file manager i should be able to select single or multiple image to associate a news entity (Possible action after select a document in filemanager).

Thanks
Best regards

Michele

[2015-06-01 15:04] joni2back commented on #15
Do you want to select several files from a folder to copy or move to another folder?

[2015-06-01 15:23] OnlyJCash commented on #15
More or less...

After selection, on press a custom button, will be call a custom function

function customFunction(data){
// do something
}

data is an array of object
{
  name: 'Image A',
  path: '/folder_1/folder_child/image_a.png',
  size: #### ,
 // other metadata information
}

Is it possible?

Thanks
Best regards
Michele

[2015-06-01 16:13] joni2back commented on #15
Actually, there are a variable named **temp** that stores the selected item
[code]
Your idea is to handle multiple temps (selected) items, so we need to refactor to
[code]
And all the item-related methods of the controller to could handle selected files.

This feature is a nice to have, but wont be implemented in the nexts releases.
If you want, you can do a refactor an propose with a pull request

[2015-06-01 16:37] joni2back opened #17 "Fix API and item date"
@paolobiavati write:

Hello Jonas,

first of all thanks for your angular-filemanager!

I started using it in a project some days ago, I'm developing a Java servlet to serve all client calls.
It is almost finshed I'm fixing some little things.

When I will finish, I can share it with you, and if you want you can put it in your project (jn 'bridges/java' folder or something like) to share as a java

[2015-06-01 18:09] #15 closed

[2015-06-01 20:08] TTheTesterT opened #19 "Running the App"
I am new at running Angular apps and want to know: how do you get this Angular Filemanager app to work like it is in your demo?

I've tried downloading the app and running "npm init/npm start" and it didn't work.  I've also tried just opening the index.html file and it didn't work.  What steps did you take to run this app?

Also, is it possible for this app to run as a subsection of a different An

[2015-06-02 11:05] #17 closed

[2015-06-02 11:23] joni2back commented on #19
You need to handle a backend server.
In the demo there are a handler written in php.
So... you should clone the repo framework
[code]
Then edit the urls in **[angular-filemanager/assets/js/config.js](https://github.com/joni2back/angular-filemanager/blob/master/assets/js/config.js)**

And compile js ``jonas@:~/www/angular-filemanager$ bash build.sh``

[2015-06-02 14:50] milesholt opened #21 "Error: undefined is not an object (evaluating 'model.date')"
Just trying out the demo, but hit upon this error?

Thanks

[2015-06-02 15:07] #21 closed

[2015-06-02 15:08] joni2back commented on #21
Fixed!, thanks!!

[2015-06-02 16:08] joni2back commented on #21
@milesholt fixed, dont forget to give a star! :star:

[2015-06-02 17:01] milesholt commented on #21
Awesome, thanks!

[2015-06-02 20:18] TTheTesterT commented on #19
After following your instructions, I've successfully have the HTML/JS/CSS of the site running, but I ran into issues getting various functionalities to work due to errors such as "status 500".

I ran handler.php on localhost:1234, modified the File Manager's config.js to link to http://localhost:1234/, ran build.sh, and use localhost:8100 for the HTML/JS/CSS app itself.  After doing so, I run into

[2015-06-03 19:45] joni2back commented on #19
This problem is related to the different ports (front/backend)

Try mounting php built-in server from the root directory...
Example:
[code]

[2015-06-04 15:37] milesholt opened #22 "Error: Invalid input data"
Hi,

Getting this error now, when loading the page, the status just remains at 'loading...' ?

Thanks

[2015-06-04 15:57] joni2back commented on #22
Can you reproduce the error?
What backend handler are u using?

[2015-06-04 16:25] milesholt commented on #22
Using the php handler.

When hitting refresh or loading the page, the error is reproduced.

[Error] Error: Invalid input data
Chmod@http://.../js/angular-filemanager/assets/js/chmod.js:16:36
Item@http://.../js/angular-filemanager/assets/js/item.js:12:33
http://.../js/angular-filemanager/assets/js/filenavigator.js:32:48
s@http://.../js/angular-filemanager/assets/ext/angular.min.js:7:306
http://.../

[2015-06-04 17:00] joni2back commented on #22
Can you please paste the API List json response?
The issue might be the value of the property ```rights```

**item.js**
[code]

**chmod.js**
[code]

[2015-06-05 09:04] milesholt commented on #22
This is the response. Looking at the log, it seems to list the contents okay, it's just not showing them?

Thanks

![screen shot 2015-06-05 at 10 07 23](https://cloud.githubusercontent.com/assets/2687598/8002875/27c63418-0b6a-11e5-9db0-23efb2e74827.png)

[2015-06-05 11:22] joni2back commented on #22
Please, in your chmod.js file, can you replace this:

[code]

For this:
[code]

Then.. rebuild the assets (if you have troubles doing this, tell me and i suggest other option to do it)
[code]

And paste here the browser console error (in order to display the value that broken the chmod instance)
Thanks!!

[2015-06-05 16:50] joni2back commented on #19
Can you solve the problem with this?

[2015-06-09 16:22] joni2back commented on #22
@milesholt ?

[2015-06-12 12:08] milesholt commented on #22
Hi, sorry I've been away.

I think this is right?

![screen shot 2015-06-12 at 13 11 20](https://cloud.githubusercontent.com/assets/2687598/8129748/2055589a-1104-11e5-9049-12d6158042c4.png)

Thanks

[2015-06-12 12:10] milesholt commented on #22
![screen shot 2015-06-12 at 13 13 45](https://cloud.githubusercontent.com/assets/2687598/8129766/54055c3a-1104-11e5-802a-5d1218744840.png)

[2015-06-12 12:50] joni2back commented on #22
Exactly...
Are you working with a ftp handler? (backend connector)

```total``` is not valid parameter to create a chmod instance..
You could do the following:
 * Replace this with an empty (or correct) value from the server side
 * Change the exception with a fake value.. for example (chmod.js)
[code]

[2015-06-12 14:04] milesholt commented on #22
That's great, I can now see it thanks.. But, and I hate to say it,  other problems seem to be arising? I can't seem to rename folders and the it seems to be duplicating within itself when selecting a folder?

![screen shot 2015-06-12 at 14 36 05](https://cloud.githubusercontent.com/assets/2687598/8131733/3c733eec-1114-11e5-8a7d-0d369a4394e5.png)

[2015-06-12 16:30] joni2back commented on #22
This behavior is so weird.
Do you have a link to test? or paste the JSON response of your handler.

[2015-06-15 09:06] silentHoo opened #23 "Could you add a LICENSE, please?"
Your project is very fancy, thanks for the good work. But there is no license available. So could you please add one?

Thank you in advance!

[2015-06-15 12:51] joni2back commented on #23
Hi @silentHoo thank you.
MIT is the project license. I just added to the readme file in order to clarify the visibility.

Don't forget to give a star :star: Thanks!

[2015-06-15 19:42] milesholt commented on #22
Hi,

Actually that was caused by an error on my part, all fixed. Regarding the renaming issue, I can see there is no function yet, so that's fine, I can sort that.

Thanks again for your help!

[2015-06-15 23:08] #22 closed

[2015-06-16 14:54] silentHoo commented on #23
Thank you, and I already starred your project ;)

[2015-06-16 15:03] #19 closed

[2015-06-17 01:16] startatrix opened #24 "Drag and Drop"
Hi,

Came across your filemanager and it would be nice if you could do drag and drop in the tree view and move files around.

Multiselect of files is also handy

[2015-06-17 16:54] joni2back commented on #24
Hello, this feature could be in the next release.
The idea is to allow the multiple file selection to drag and drop between folders

Issue related #15

Dont forget to give a star :star: regards!!

[2015-06-18 18:18] joni2back commented on #23
@silentHoo Hello, I look your fork and the things you are doing are great.. bower compatibility and cached templates..
When you finish can you send a pull request ?
Regards!

[2015-06-19 10:14] PedramMarandi opened #26 "problem with stay on loading direcctories"
hey
thank you for your great project,
i created library for local file loader and this is my response
[code]

but filemanager stoped on `` Loading... ``

[2015-06-19 11:58] joni2back commented on #26
Hi @PedramMarandi
You are using an invalid date format. Should be type MySQL (eg: 2015-06-17 13:13:29)
Anyway.. I just fixed the item constructor to prevent the javascript error on invalid date format.

Don't forget to give a star :star: !!

[2015-06-19 12:49] silentHoo commented on #23
Yupp, that's the plan ;) I'll mod your project a bit to fit my needs, but I'll try to make it in a simple and clean way, so I'll make a PR when I'm done :)

[2015-06-19 14:13] PedramMarandi commented on #26
lotf of thank ;)

[2015-06-19 14:56] joni2back commented on #26
:+1: to u2

[2015-06-19 14:56] #26 closed

[2015-06-22 10:28] silentHoo commented on #8
It would be better to make it external to this project. But you can at least give some config options to enable/disable login.

[2015-06-22 11:50] joni2back commented on #8
Yes, I think the same. Maybe an un-closable modal fired by a 401 response that shows a unlogged message.

[2015-06-28 10:44] Kiranrajkathula opened #32 "Can i use this without installing bower and grunt?"
i have downloaded as zip and kept in my wamp server, edited the handler.php by giving my local host detials on line 123, 124, 125

what next if im not using bower, any help would benefit me in learning and using filemanager!

[2015-06-29 11:15] joni2back commented on #32
Hello, bower and grunt are not required if you don't need to modify the javascript sources.

To run the backend handler, you must install the [php-classic](https://github.com/joni2back/php-classic) library at ```angular-filemanager-master/bridges/php/php-classic```

For example: autoload.php should be in the following path
```angular-filemanager-master/bridges/php/php-classic/src/autoloader.php```

[2015-07-02 18:25] joni2back commented on #32
@Kiranrajkathula Have you solve this issue?

[2015-07-03 04:10] #23 closed

[2015-07-03 07:58] weisk opened #34 "Use ng-annotate"
You can get rid of explicit dependency injection array notation, removing a lot of boilerlate code. The module [gulp-ng-annotate](https://www.npmjs.com/package/gulp-ng-annotate) does it automatically for you.

Extra: using wildcard globs to select all files instead of specifying each one.

On your **gulpfile.coffee:**

[code]

This will automatically convert all DI functions into array syntax, thi

[2015-07-03 11:45] joni2back commented on #34
Hi @weisk I like the idea to use this wildcard instead of specifying each file.
Regarding ngAnnotate, I'm used to use the dependency injection specifying the name first as string..
I prefer to continue this way and prevent to use another gulp plugin...

If its right for you, you can send a pull request with the ```concat-uglify-js``` task wildcard modification..
Thanks!!

[2015-07-03 13:18] weisk commented on #34
Gulp plugins are free! They don't increase the library size, just for development :p

As you wish though, I'll make the PR soon.

[2015-07-03 13:19] joni2back commented on #34
:+1:  great!

[2015-07-03 13:48] vikaskuppili1 opened #35 "/assets/templates/index.html Not found"
hello jonas ,first of i thank you for u r contribution , i am using this on flask framework . so i need keep separate source file in the static folder and html in templates folder upon doing so , i have changed the source file locations and change the location according my source location structure . event though i have changed all  soruce locations it is giving the error  /assets/templates/index.

[2015-07-03 14:17] joni2back commented on #35
Hi @vikaskuppili1 first of all, the templates are compiled in [```dist/cached-templates.js```](https://github.com/joni2back/angular-filemanager/blob/master/dist/cached-templates.js) with ```gulp build``` command.

In the html code, you should view template inclusion like ```<div ng-include="'assets/templates/navbar.html'"></div>``` using ```assets/templates``` as template folder...

So... if you a

[2015-07-03 14:41] vikaskuppili1 commented on #35
Thank you Very much for u r info i been hitting my head to wall for 4 hours for this .

and also should i must have to use the gulp for using  this or is it not necessary .
and one more thing is that i hadnt included gulp file in my working project just taken required components then howcome it loaded the gulp file

please do ignore if i annoy u asking silly question ,  and once again thank you ve

[2015-07-03 14:50] joni2back commented on #35
Hey @vikaskuppili1 I made changes in the app, now you only need to define your template directory at [```config.js```](https://github.com/joni2back/angular-filemanager/blob/master/assets/js/config.js)
[code]
And in [```gulpfile.js```](https://github.com/joni2back/angular-filemanager/blob/master/gulpfile.js)
[code]
Then run ```gulp build```

[2015-07-03 14:50] joni2back commented on #35
If you dont want to use gulp, you should do the following over the index.html main file

[code]

[2015-07-03 14:55] joni2back commented on #34
Done at https://github.com/joni2back/angular-filemanager/commit/978039430cc899e4dd9981e78036cd5fd7cc4a43

[2015-07-03 14:55] #34 closed

[2015-07-04 05:30] vikaskuppili1 commented on #35
hi joni

 using this

 <script src="dist/angular-filemanager.min.js"></script>
  <script src="dist/cached-templates.js"></script>

it raising a url problem of POST http://127.0.0.1:5000/bridges/php/handler.php  which i changed in my project

[2015-07-04 06:39] vikaskuppili1 commented on #35
hii  jonas i have followed it . it is raisng another error

GET http://127.0.0.1:5000/assets/templates/navbar.html 404 (NOT FOUND)b @ angular.min.js:87m @ angular.min.js:83$get.f @ angular.min.js:80(anonymous function) @ angular.min.js:112$get.l.$eval @ angular.min.js:126$get.l.$digest @ angular.min.js:123$get.l.$apply @ angular.min.js:126l @ angular.min.js:81O @ angular.min.js:86w.onload @ angula

[2015-07-04 09:24] vikaskuppili1 commented on #35
go the solution jonas ,when ever ui uses

<script src="dist/angular-filemanager.min.js"></script>
  <script src="dist/cached-templates.js"></script>

these are becoming cached so clean  the caches  history is  the solution

[2015-07-04 09:44] #35 closed

[2015-07-04 10:10] vikaskuppili1 opened #36 "json structure for directory with in directies,files"
hi joni ,can u please provide  json structure for the representing directories with directories  and files , the nested structer . in your documentation u haven't demonstrated that .

[2015-07-04 13:25] vikaskuppili1 commented on #36
hey joni plz do reply

[2015-07-04 16:39] joni2back commented on #36
Hi @vikaskuppili1 the app does not work with nested directories .. Each request must return the list of files and dirs of the current directory... (Take into account if the nested structure is much deep, the request-response sime could be very long).

So, the API doc for listing is the following https://github.com/joni2back/angular-filemanager/blob/master/API.md#listing

Regards

[2015-07-04 17:01] vikaskuppili1 commented on #36
hm okay but where as the example is showing directories with in directories how is that happens

[2015-07-04 17:02] vikaskuppili1 commented on #36
the tree structure directories containing files

[2015-07-04 17:04] vikaskuppili1 commented on #36
![angular-filemanager](https://cloud.githubusercontent.com/assets/13166746/8508789/b106c96a-229c-11e5-8c5f-3466b15d55c6.png)

in that it is showing wp-admin ,.... in blog na

[2015-07-04 17:11] vikaskuppili1 commented on #36
ok got it every request must be list of directories and files of the current directory

okay then in what way i have to send the json such that it should be sub directory of some other director where should we have to indicate that in json

[2015-07-04 17:31] joni2back commented on #36
No one, the tree navigator have a smart piece of code to make that..
https://github.com/joni2back/angular-filemanager/blob/master/assets/js/filenavigator.js#L47
To inspect with developer console, just run
**angular.element(document.getElementsByTagName('div')[0]).scope().fileNavigator.history**

[2015-07-04 17:37] vikaskuppili1 commented on #36
sorry can u plz elaborate that

[2015-07-04 17:50] vikaskuppili1 commented on #36
how it is deciding one folder is subfolder of the other , in order to do that in what way we have pass the json input stating that this is subfolder of that (x) .can be plz given given example json send request example

[2015-07-04 17:55] vikaskuppili1 commented on #36
if my asked question is total wrong then plz do ignore me but plz provide the sol for my requirement

example : i have a folder a and folder b which is subset of a and a file f which resides in folder b
now plz make a json response that it will displayed in the ur ui with hierarchy ..thank you very much

[2015-07-04 20:11] vikaskuppili1 commented on #36
okay got the solution we have to read the path from the post json data and send the required directories and file of that current directory accordingly

Thanks

[2015-07-04 20:11] #36 closed

[2015-07-06 11:55] Vikas-Stormy opened #37 "Extraction started in a background process"
hello jonas ,
i been using angular-filemanager the issue is when ever i made a request to compress or Extract

the pop up is staying still even after the completion of the extract  on compress , explictly making user to close that popup and it is not giving the completion dialouge

Thank  jonas You nice work

[2015-07-06 12:10] joni2back commented on #37
Hi @Vikas-Stormy , Yes... this behavior is because the compression or extraction process could take long time.. then we show a message (like.. the extraction will start in a background process).
But its great to know there are people that is using this in another way (synchronous), so I will add a parameter in config.js to choose the way that compress&extract works

[2015-07-06 12:13] Vikas-Stormy commented on #37
hm okay thank you jonas do inform me that .

[2015-07-06 12:25] Vikas-Stormy commented on #37
jonas i think adding  a button or  something stating that  do continue with your work  by  clicking on something or the other way which backs them to the page , ofcourse we can do that by clicking outside part of the popup , but by the perception  people will wait for some instruction to procced further . so plz think up on this as this is highly useful when we are dealing with heavy files

[2015-07-07 22:14] ktamilvanan opened #43 "assets/templates not found"
I have placed the assets/templates at the root of my application. I see an empty page being loaded but no request to the server is sent.

There is an error on the console, assets/templates/ Failed to load resource: the server responded with a status of 404 (Not Found) but the folder is there.
![capture](https://cloud.githubusercontent.com/assets/3724506/8558673/e307ca52-24ba-11e5-81e0-1b0b331cf70f

[2015-07-08 09:35] Vikas-Stormy commented on #43
you have to place that in  frameworks default search for the files . and given that fodler location in you template . if you use gulp then this modifications should be compiled there  also
feel free to ask ..

[2015-07-08 09:36] #37 closed

[2015-07-08 10:30] Vikas-Stormy opened #44 "update view"
hello jonas ,i have a requirement that based upon the button click event i just need to refresh the folders i,e

i have created a function in  FileManagerCtrl
and in that i have called the  $scope.fileNavigator.refresh();
it is sending a post request to server fine but it is not updating in the view

can u plz provide a solution for that

by example of front end button and the function in FileMana

[2015-07-08 11:06] joni2back commented on #44
Hello @Vikas-Stormy , can you explain the issue with more details ?
You need to refresh the filelist (right-side) or the folderlist (tree from left-side) ?

[2015-07-08 11:07] Vikas-Stormy commented on #44
need to refresh the file list  and folder list both upon clicking a button thank u jonas

[2015-07-08 11:28] joni2back commented on #43
Hi @ktamilvanan , to change the templates folder, you need to do the following:

Edit ```assets/js/config.js``` and ```gulpfile.js```, then define the path in ```tplPath``` variable.
The changes should be like this...
[code]
-----------
So, after that, you must run ```gulp build``` in the console.

[2015-07-08 11:30] joni2back opened #45 "Configurable extract and compress [sync/async]"
config.js should have an option to define the way that compression and extraction task work. Related #37

[2015-07-08 11:31] joni2back commented on #44
Ok, how are you binding the button click event?

[2015-07-08 14:33] Vikas-Stormy commented on #44
i have a scope problem jonas i have an another app angular js app ng-flow i need to integrate both of

can u suggest some tips what need to take care  of when merging both of it .like as they both have the conrtrollers

when i use FileManagerCtrl outside of the <angular-file-manager i></angular-file-manager> i am getting a scope problem

[2015-07-08 14:51] joni2back commented on #44
You could use $rootScope to unify actions of multiple controllers

Another way is to do something like
[code]

[2015-07-08 16:46] rsx491 opened #47 "Web application functionality error with php and vsftpd"
Multiple issues with all functionality, including relative navigation resolution to general functionality breaking when configured to work with a jailed user and vsftpd. Maybe 30% works. Followed general make instructions including make install.

[2015-07-08 17:15] Vikas-Stormy commented on #44
thank you jonas u r helping me alot ,i have solved this by using another approach

[2015-07-08 17:15] #44 closed

[2015-07-08 17:24] joni2back commented on #47
Hello @rsx491 first of all, handler.php is a simple and unmaintained script to run the demo.
The idea is to provide a frontend interface, to make your own backend bridge with your requirements.

Btw, can you list/describe the errors?

[2015-07-08 17:47] rsx491 commented on #47
Just getting the files and folders displayed when the page initially loads. I'm getting no javascript errros, and php handler also fires no errors. There's a request to "handler.php" for params: {mode: "list", onlyFolders: false, path: "/"}, which returns an empty response.

Sorry if my original post seemed .... forward.

[2015-07-08 18:29] joni2back commented on #47
Do the following, try with passive mode off in ```handler.php```

[code]

[2015-07-08 19:36] rsx491 commented on #47
I literally have the following as my defaults. Any reason why you appended username@sitename on your using name setting?

    protected $_port      = 21;
    protected $_timeout   = 10;
    protected $_passive   = false;
    protected $_debug     = true;
    protected $_conn   = true;
    protected $_ssl   = false;

[2015-07-08 19:38] rsx491 commented on #47
I set passive, but it didn't seem to make a difference. Oddly, I'm able to create directories/folders, which show up on my server, but the file upload does not work and no files are displayed in the main tree.

[2015-07-08 19:50] joni2back commented on #47
Could be a fatal error..
do the following:
[code]

and look the response with the browser developer tool..

[2015-07-08 20:17] rsx491 commented on #47
I created a quick script and tried connecting, authenticating, and making directories and uploading files. It's worked so far, so I know my configuration is working.

As for related PHP errors. I'm running a vanilla flavored version, where PHP is included in the web server work tree.

<?php

ini_set('display_errors',1);
error_reporting(E_ALL & ~E_NOTICE);

$ftp_server = '127.0.0.1';
$ftp_port = '2

[2015-07-08 20:24] rsx491 commented on #47
Here's my request payload, using the upload feature. I'm not seeing any new log entries for this file upload request. I am seeing log entries for my quick PHP upload script.

------WebKitFormBoundaryXVKKv2a86j2BrXTP
Content-Disposition: form-data; name="destination"

/
------WebKitFormBoundaryXVKKv2a86j2BrXTP
Content-Disposition: form-data; name="file-1"; filename="invoice_june.csv"
Content-Type:

[2015-07-08 20:34] rsx491 commented on #47
It is returning server data, file listing included at the very end.

array(22) { [0]=> array(10) { ["time"]=> string(5) "13:20" ["day"]=> string(2) "08" ["month"]=> string(3) "Jul" ["size"]=> string(4) "4096" ["group"]=> string(3) "100" ["user"]=> string(3) "999" ["number"]=> string(1) "2" ["rights"]=> string(10) "drwx------" ["type"]=> string(3) "dir" ["name"]=> string(1) "D" } [1]=> array(10) {

[2015-07-08 21:06] rsx491 commented on #47
I have enabled passive mode, as it doesn't seem to matter at this point. Here is the complete handshake when the Filemanager page loads, everything seems to complete successful for reading the FTP root directory.

Wed Jul  8 17:02:32 2015 [pid 24387] CONNECT: Client "127.0.0.1"
Wed Jul  8 17:02:32 2015 [pid 24387] FTP response: Client "127.0.0.1", "220 (vsFTPd 3.0.2)"
Wed Jul  8 17:02:32 2015 [pid

[2015-07-08 22:31] rsx491 commented on #47
I worked through the vsfptd configuration again, making a new ftp restricted user. Before the FTP user was able to "chroot" and was reading from the system's root "/", due to the web apps configuration using just "/". So reading and creating directories works. The file upload/download still doesn't work, and there are no related log actions in vsftpd.log.

![headers](https://cloud.githubuserconten

[2015-07-09 00:11] #43 closed

[2015-07-09 06:28] Vikas-Stormy opened #48 "include tree structure with file also"
hii jonas , can you update the side tree navigation bar such that it diplays the files also ,currently it  displays only folders

[2015-07-10 11:25] Vikas-Stormy commented on #9
jonas fix this issue its not fixed yet .

[2015-07-10 11:26] joni2back commented on #48
Hello @Vikas-Stormy
List files in the tree navigation sidebar makes no sense, it just for folders.

[2015-07-10 11:26] #48 closed

[2015-07-10 11:31] joni2back commented on #47
Hello @rsx491 .
For your particular situation, I recommend you to make your own php-bridge from scratch.
There are a lot of libraries that could do the job.. like @Nicolab [php-ftp-client](https://github.com/Nicolab/php-ftp-client)
or the @touki653 [php-ftp-wrapper](https://github.com//php-ftp-wrapper).

Regards!

[2015-07-10 11:32] #32 closed

[2015-07-13 17:25] rsx491 commented on #47
Thanks.

There does seem to be an issue with the "fileUploader" JS service. No file information is passed, or accessible from this service. I tried printing out the file information from this service. There was no file data.

(function(window, angular) {
    "use strict";
    angular.module('FileManagerApp').service('fileUploader', ['$http', 'fileManagerConfig', function ($http, fileManagerConfig)

[2015-07-13 19:47] joni2back commented on #47
I will check this.. but.. for example in php you could get the file info(name, size, etc) in $_FILES variable.

[2015-07-13 21:10] rsx491 commented on #47
I tried capturing the posted values using "php://input", but file related data we returned.
It seems the controller file, using the "fileUploader" service never receives any file data. As
the controller's input of "$scope.uploadFileList" appears to be empty. Has anyone else had this problem?
I've tested in Firefox and Chrome.

[2015-07-16 14:31] joni2back commented on #47
Hey @rsx491, take a look to the [updated doc](https://github.com/joni2back/angular-filemanager/blob/master/API.md#upload-file-url-filemanagerconfiguploadurl-method-post-content-type-multipartform-data). There are an example to handle the uploaded file with php

[2015-07-16 14:31] #47 closed

[2015-07-17 16:50] edtronic opened #49 "Cant load file data tree on set up"
http://54.173.203.254/bridges/php/handler.php Failed to load resource: the server responded with a status of 500 (Internal Server Error)

[2015-07-17 18:24] #49 closed

[2015-07-17 18:24] edtronic commented on #49
Resolved

[2015-07-17 18:35] joni2back commented on #49
Okay, maybe your php configuration wasnt showing fatal errors

[2015-07-17 19:32] edtronic opened #50 "How do i load files (am not using bower)? Help."
I get no error in php or java.

i get this.
![captura de pantalla 2015-07-17 a las 13 33 34](https://cloud.githubusercontent.com/assets/2230082/8755462/444f6f16-2c88-11e5-923d-e68c8cf6abfb.png)

[2015-07-17 20:57] edtronic commented on #50
Am no using bower or grunt.

[2015-07-20 13:51] Vikas-Stormy opened #51 "orderBy date not working"
hi ,jonas

oderBy date not working checked by hardcoded json

used syntax orderBy: item.model.date

[2015-07-21 10:43] spaun299 opened #52 "How can I change directory, where files and folders located ?"

[2015-07-21 11:17] joni2back commented on #52
Hi @spaun299, can you explain with more details? Thanks

[2015-07-21 11:26] spaun299 commented on #52
I'm writing connector for Python. And when I open your filemanager in my
project , list of files is empty... How can I tell to filemanager show
files from some folder. JSON give this request : Object { mode="list",
onlyFolders=false, path="/"}
But I need to change path for my own
It's probably stupid question but I can't solve this problem.
Sorry , and thanks

2015-07-21 14:17 GMT+03:00 Jonas Scia

[2015-07-21 13:05] joni2back commented on #52
The folder to list files is the path that are you receiving by the request content ```path="/"```
So, for example you need to do something like connect by ftp to the defined path folder...
If you want, you can do a pull request of your python connector in order to collaborate with the project and solve any kind of issues!
Regards.

[2015-07-21 13:06] Vikas-Stormy commented on #51
hi ,jonas

oderBy date not working ,suggest me the way

[2015-07-22 17:28] edtronic commented on #50
Maby you can giveme an example on how to load.

Thank you for any help.

[2015-07-22 18:33] joni2back commented on #50
Hi @edtronic. First of all you need to edit your [handler.php](https://github.com/joni2back/angular-filemanager/blob/master/bridges/php/handler.php) file in order to use your ftp credentials.

Maybe you are getting a php fatal error, check the issue #47

[2015-07-22 19:12] edtronic commented on #50
Can i only input information via FTP?

[2015-07-22 19:24] joni2back commented on #50
Hola, veo que hablas español.

La idea del filemanager es usar la parte javascript y frontend para asi adaptar tu propio conector en el lenguaje de backend que prefieras, como ser php o python...

Es decir, deberias hacer un controlador que interactue con la API que se indica en la [documentacion](https://github.com/joni2back/angular-filemanager/blob/master/API.md)

Los conectores que se incluyen

[2015-07-22 20:14] edtronic commented on #50
Hola, gracias por respuesta.

Te entiendo y me parece un proyecto genial. Te hago una ultima pregunta.

Como genera/despliega el "filemanager" las vistas automáticamente en el Frontend (en el file tree, i.e las carpetitas) a partir de la informacion que viene del Backend. Cual es el archivo que debería estudiar para llegar a entender ese mecanismo.

Muchas gracias Joni.

[2015-07-23 11:23] joni2back commented on #50
Buenas, mira eso lo hace a partir de los archivos que va listando, son funciones recursivas que guardan en una variable de tipo historial las carpetas y sus nodos hijos para asi formar un arbol navegable..
Es decir, se hace automaticamente a medida que se va navegando (no es otro request)

Saludos.

[2015-07-23 20:56] edtronic commented on #50
La version del archivo "angula-filemanager.min.js " esta en alguna parte no minificada?

[2015-07-23 22:55] joni2back commented on #50
Si te fijas en el codigo html de index.html, muestra una forma de usar la app sin los archivos minificados. es decir, tendrias que incluir uno por uno los archivos sueltos (que es lo que esta comentado) y comentar los minificados!

[2015-07-24 11:13] #52 closed

[2015-08-03 20:18] pallavsipani opened #53 "Request for documentation"
I am struggling to understand some of the logic and without documentation, I have hit a roadblock.
Whenever you have time, can you please add appropriate comments for functions like:
FileNavigator.prototype.buildTree(in filenavigator.js) - Exactly how it works?
$scope.touch (in controller.js)- Again what exactly what does it do?
Generally, a line or 2 for every non-trivial finction will be appreci

[2015-08-06 15:01] joni2back commented on #53
I'm not used to leave comments in the code, but I can explain here..

**FileNavigator.prototype.buildTree** Performs a recursive function in the folder list request, in order to generate the left sidebar navigation tree, it stores an history of directories, for example

[code]

**$scope.touch** Is the function that is called when you click a file/folder in the frontend,
this instance is asigned to

[2015-08-10 05:02] ishakya commented on #9
I am also having issue with this. Please solve as soon as possible.

[2015-08-10 18:26] #53 closed

[2015-08-10 18:26] #50 closed

[2015-08-10 18:28] #8 closed

[2015-08-22 14:52] mapperkids opened #55 "Where to get the source code for the demo app?"
Hi,

Can I get the source code for the demo app? http://zendelsolutions.com/zendel/projects/angular-filemanager/

Thanks,

[2015-08-22 18:56] joni2back commented on #55
Hello, I dont understand your question, can you explain it with more details?
Thanks

[2015-08-24 01:42] joni2back commented on #55
You can use the JAVA or the PHP connector

https://github.com/joni2back/angular-filemanager/tree/master/bridges

[2015-08-24 21:27] starspn commented on #55
Hello,

I did all this all this steps >>

Use in your existing project

1) Install and use bower install --save angular-filemanager

2) Include the dependencies in your project

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></sc

[2015-08-25 07:06] hmartos commented on #55
I think your problem is that HTML directive is `<angular-file-manager></angular-file-manager>` instead of `<angular-filemanager></angular-filemanager>` like the README says.

[2015-08-25 08:20] starspn commented on #55
Thanks hmartos you are a star atleast now i can see something, I need to figure out how to make the create folder and upload file works. I plan on using this on my angular app, my backend for the app is written in java

[2015-08-25 08:27] hmartos commented on #55
Thank you starspn, now we are at the same point!.
This is an amazing project, but it is not very well documented, so you have to carefully read the source files. anyway, the directive is the starting point so this should be corrected in README

[2015-08-25 08:42] starspn commented on #55
Yes abosulety. it is an amazing project, I wish it was well documented or atleast they give us access to the source code of the demo

[2015-08-25 11:34] joni2back commented on #55
Hello, yes as @hmartos says, the directive was named from ```angular-file-manager``` to ```angular-filemanager``` in the latest release.
Now you need to extend the config file ... look the [index.html](https://github.com/joni2back/angular-filemanager/blob/master/index.html) main file (the same that includes the directive) in order to set your backend urls and enable/disable features.
The options a

[2015-08-25 11:43] starspn commented on #55
Are these options for the Directive?

[2015-08-25 12:29] hmartos commented on #55
Thank you @joni2back I will try to do a pull request tomorrow, but it is my first time, so I don't know how much time it will take me to do it!

I have overrrided this config file and it is working fine, but I am getting problems when trying to override this config file from fileManagerConfigProvider like you do in your index.html

[code]

Thanks for your support!

[2015-08-25 12:31] joni2back commented on #55
What problem?
If you are modifying the config.js file you should re-compile the javascript (run ```gulp build```)

[2015-08-25 12:36] hmartos commented on #55
Sorry, the problem is `Error: [$injector:unpr] Unknown provider: fileManagerConfigProvider`.
I am importing source files directly in my html,  not using minified javascript, so I don't need to recompile the javascript, do I?

[code]

[2015-08-25 12:44] joni2back commented on #55
Im trying the same and i dont have problems.. The source is up to date? (check config.js was transformed from constant to provider)

[2015-08-25 12:45] hmartos commented on #55
Thank ypu @joni2back, that was the problem!!

[2015-08-25 12:47] joni2back commented on #55
You're welcome. Dont forget to give the project a start :star:

[2015-08-25 12:59] hmartos commented on #55
Starred! I think all this problems are because this version is not available on bower, am I wrong?
This code is tagged as 1.2.0 and it should be tagged as 1.3.1 ??

Thank you.

[2015-08-25 13:05] joni2back commented on #55
Thank you again, I just released the ***1.3.1*** !

[2015-08-25 13:33] starspn commented on #55
Thank you.. I will update my bower

On Tue, Aug 25, 2015 at 3:05 PM, Jonas Sciangula Street <
notifications@github.com> wrote:

--
*Regards*

*Sibusiso Nkambulecell : 073 955 9087email : sbssnkambule@gmail.com
<sbssnkambule@gmail.com>*

[2015-08-26 18:47] #55 closed

[2015-08-27 15:33] #45 closed

[2015-08-27 15:34] joni2back commented on #37
Done!

[2015-08-28 14:46] TolotraRam opened #56 "Question : How to implement this in tinyMCE or textAngular ?"

[2015-08-29 14:18] starspn opened #57 "Configuring the servlet for Java based application"
Good day,

I am trying to setup the servlet to to use it on my java application. I did add the servlet on my web.xml
I can see the serlvet it loading some properties file (angular-filemanager.properties) what should be the contect of the file?

[2015-08-29 17:21] joni2back commented on #57
Hello, I add to @paolobiavati (that build the java connector because I dont have experience with java.

Regards.

[2015-08-29 18:47] starspn commented on #57
I don't understand what you are saying?

[2015-08-31 14:53] joni2back commented on #57
Mmm, I dont understand if you are having troubles with the JAVA connector or the frontend API...

[2015-08-31 14:59] joni2back commented on #56
@TolotraRam You requirement is for a code-editor or an html-style editor?

[2015-08-31 15:01] TolotraRam commented on #56
Hi, great job
It's for an html-style editor like tinyMCE or CKeditor or textAngular.

[2015-08-31 15:39] joni2back commented on #56
Great!
Dont forget to give us a star :star:

[2015-08-31 16:37] TolotraRam commented on #56
:)

[2015-08-31 20:35] starspn commented on #57
Java connector  on the servlet you are defining

propertiesFile = getClass().getClassLoader().getResourceAsStream("angular-filemanager.properties");

Can you give an example of the content of this file angular-filemanager.properties?

[2015-08-31 20:36] dfernandezm opened #58 "Question / Feature: Using with webpack"
Hi, I would like to integrate this in a project using Webpack / NodeJS packaging and require system.

I created a file (filemanager.coffee/js) that requires all the libraries and creates a single filemanager.js javascript file. If I include this single file (which is not more than the concatenation of all the dependencies) this should work, but I get a blank page instead.

So this is what the file

[2015-09-01 11:38] joni2back commented on #58
I didn't use webpack before, but try to include jquery first. Example:

[code]
So, if don't even work, please check if there are some javascript errors and paste here.
Regards

[2015-09-01 11:43] joni2back commented on #57
Hi @starspn, I checked the source code, the properties of this file are

```repository.base.url``` and ```date.format```

The format of the file should be compatible with http://docs.oracle.com/javase/7/docs/api/java/util/Properties.html

Please, let me know if work with this, regards.

[2015-09-01 11:47] joni2back commented on #9
Hi @ishakya, I am aware of this bug, I'm considering to rewrite the method that the sidebar tree works.

[2015-09-07 15:25] sebastianbergmann opened #59 "Please remove me from this project"

[2015-09-07 15:27] sebastianbergmann commented on #59
Nevermind; recalled how one can remove oneself from a repository.

[2015-09-07 15:27] #59 closed

[2015-09-07 15:27] joni2back commented on #59
Sorry there was an error with the username.

[2015-09-07 15:29] bartaz commented on #59
not one problem I guess, I just got notification I was added, too

[2015-09-07 15:34] fabpot commented on #59
hmmm, I also got the notification

[2015-09-07 15:41] joni2back commented on #59
Sorry, just removeds

[2015-09-07 16:19] serbanghita commented on #59
I also received the notification ... please remove me

[2015-09-14 09:08] zoranpro opened #60 "Renaming/deleting the folder, side bar do not get refreshed"
Hi,

I have an issue when renaming/deleting the folder, the folder doesn't seems to be removed/updated on the side bar.

[2015-09-14 16:04] joni2back commented on #60
Hi, yes, known bug related #9
We need to refactor the tree

[2015-09-14 16:04] #60 closed

[2015-09-14 16:06] zoranpro commented on #60
Do you have an idea how can we get around this issue with current logic?

[2015-09-15 16:07] mohsen1 opened #61 "body { overflow: hidden; }"
Since both panes have scrolling overflow, you can set overflow of the body to hidden to disable bounce on overscroll on body element
![screen shot 2015-09-15 at 9 06 54 am 2](https://cloud.githubusercontent.com/assets/543633/9882372/24970ee2-5b89-11e5-8323-fb34f7dbc3c6.png)

[2015-09-15 16:14] joni2back commented on #61
Hello @mohsen1.
I don't understand at all your suggestion,
The left sidebar is fixed so the right content works with the body scrollbar..

Can you please provide a PR o fork with the fix?

Regards!!!

[2015-09-15 16:19] mohsen1 commented on #61
I didn't notice you're using body scroll for right pane. The "overscroll" effect drops down the top bar (as seen in screenshot) which is not something user expects. Maybe add height 100% and `scroll: auto` to the right pane and set body overflow to hidden. Please try it in developer tools and if you agreed it's something you want to add I'd be happy to propose a PR

[2015-09-15 16:39] joni2back commented on #61
I don't view the same first blank line as your screenshot, what brand and version of browser are you using?
Can you inspect the dom and paste another screenshot of the element that generate that?

Thanks!

[2015-09-15 16:43] mohsen1 commented on #61
I'm using Mac and Chrome. It's the same with Safari

http://gfycat.com/ValidFatherlyBaiji

[2015-09-15 16:57] joni2back commented on #61
Hmmm Im now in ubuntu, this afternoon i'll try with osx.
But if you can, please provide a fix in a PR and I be very interested to merge to the master!
Regards.

[2015-09-16 12:26] joni2back commented on #51
Done !

[2015-09-16 12:26] #51 closed

[2015-09-17 14:36] joni2back commented on #61
Hello @mohsen1, seems like all websites have this behavior on osx browsers...

[2015-09-17 14:36] #61 closed

[2015-09-17 14:37] #57 closed

[2015-09-17 14:37] #58 closed

[2015-09-17 15:44] mohsen1 commented on #61
I personally don't like it. But it's your call

[2015-09-25 19:36] ricetrac commented on #24
+1

[2015-09-29 10:55] hmartos opened #63 "Clear sidebar tree navigator with unopened folders"
Hello, I know this bug is marked as closed, but I have noticed that it is only working when you click on a folder that have at least one subfolder.

If you click on a folder that have subfolders then tree navigator opens the folder structure, and if you click on another folder that have subfolders the unused folder structure is closed and the new folder structure is opened properly, but if you cli

[2015-09-29 23:34] joni2back commented on #63
Hello @hmartos yes I'm aware of this bug, and others like renaming folders etc in the sidebar. I want to fix them all doing a refactory in the buildTree method.

Also I saw the same behaviour in the sort of the folder. Would be great if you want to create a pull request with this fix, in order to collaborate in this project !! :smile:

[2015-09-30 12:08] hmartos commented on #63
It is my first pull request, so tell me if I have done something wrong! Thank you very much!

[2015-09-30 13:33] joni2back commented on #63
:ok: Done sidebar sort
:watch: pending sidebar item updates (same with #9)

[2015-09-30 13:33] #63 closed

[2015-10-01 08:15] gunta opened #65 "http://angular-filemanager.zendelsolutions.com is down"
Sample site is down

[2015-10-01 11:28] joni2back commented on #65
Hi @gunta thanks for the advise.
Seems up again, can you ensure that can access?
Regards.

[2015-10-01 16:27] #65 closed

[2015-10-11 21:20] hkong opened #68 "Errors when using example"
Very excited to try this, but I'm getting errors using the instructions for building the example in the README.md.  Specifically, I'm getting this error in the browser console:

Error: [$injector:nomod] Module 'app' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

I'm assuming the

[2015-10-20 17:47] joni2back commented on #68
Hello @hkong can you paste the entire content of your html file that is including the <angular-filemanager> tag?

[2015-10-21 16:02] raulanatol opened #71 "SmartClick event"
Hi!

Exist any way to detect when smartClick action is performed outside the component?
For example:
[code]

Regards

[2015-10-21 17:18] jlamer commented on #56
Any news? :)

[2015-10-21 21:44] durasj opened #73 "Drop file anywhere to upload"
The idea is to simplify file uploading. File could be dropped anywhere and would be uploaded. I think it would be best to use project https://github.com/danialfarid/ng-file-upload ... License is the same (MIT) and you will be able to provide a lot of features in practically no time.

Main features copied from their readme:

•file upload progress, cancel/abort
•file drag and drop (html5 only)
•imag

[2015-10-23 09:16] raulanatol commented on #71
I have created a PR to perform this feature: https://github.com/joni2back/angular-filemanager/pull/74

[2015-10-23 09:16] #71 closed

[2015-10-23 12:40] joni2back commented on #73
Hello, drag and drop is a feature that should be implemented.
This weeks im on vacations, are you interested to create a pull-request with this changes?
Regards!

[2015-10-23 12:42] joni2back commented on #56
Nope yet, we need to define if going to use a wyswyg editor or a code editor..
Im looking for any project that can switch in both...

[2015-10-23 12:49] jlamer commented on #56
I am not sure if we understand each other. I thought this issue is related to integration of this project as filemanager for tinymce and not tinymce as editor for files in filemanger.

[2015-10-23 14:15] joni2back commented on #56
@jlamer Is to add a wysiwyg to angular-filemanager, to implement this project in other editor, should follow the doc steps, then create a transversal flag (maybe in localstorage) that indicates the last path choosen (for a file selection for example)

[2015-10-24 21:11] jlamer commented on #73
Unfortunately, I dont have almost any experience with angular. I think I have knowleadge to do the majority of things in JS, but I am not sure if quality of my code would be sufficient in case I tried to do something for project based on angular. For example I dont know any best practices which you guys follow. Maybe someone else could help.

[2015-10-28 08:29] dntstp opened #75 "Error decoding cyrillic P symbol"
if folder contains any file with cyrillic P symbol causes to "Bridge response error"
[code]
replacing regexp  worked for me:
[code]

[2015-11-02 12:35] cyc60 opened #78 "Question : Does it support multiple instances?"
Hi. Awesome project!
Can I add two instances of angular-filemanager with different backends to a page.

[2015-11-02 15:06] joni2back commented on #75
Great!!, can you create a pull request in [php-classic](https://github.com/joni2back/php-classic) ?
Thanks!!

[2015-11-02 15:07] joni2back commented on #78
Yes you can, but you should change your config provider for each instance...
Are you considering to use both in the same window.document ??

[2015-11-02 20:06] cyc60 commented on #78
Yes.

[2015-11-04 00:07] joni2back commented on #68
Hi again @hkong , problem fixed at 4b01df5a2db5ce9c87da1dd59f79c85103b0cc74!

[2015-11-04 00:07] #68 closed

[2015-11-04 17:46] #75 closed

[2015-11-04 17:47] joni2back commented on #75
Fixed!

[2015-11-04 17:52] joni2back commented on #78
Not at the moment, but is a good idea !

[2015-11-04 17:52] #78 closed

[2015-11-22 06:49] deardooley commented on #24
+1

[2015-11-30 14:24] iJungleboy opened #79 "Could this work without jQuery?"
I'm the core architect of 2sxc (https://github.com/2sic/2sxc) which is an extension to DNN (a popular .net CMS). I'm considering using the angular-filemanager, as everything we did in 2sxc is now based on angular and it seems a good fit.
One of my concerns in jQuery - I've been working hard to avoid using jQuery in our solution and have so far been very successful - but as I see your filemanager s

[2015-11-30 14:33] joni2back commented on #79
Hi @iJungleboy I'm very interested to remove jQuery of my project..
The uses of jQuery are for:
- Handle bootstrap modals ```$('element').modal()```
- Build preview images/files URL with ```$.param()```
- Handle context-menu focusing on nested items [app.js:24](https://github.com/joni2back/angular-filemanager/blob/master/src/js/app.js#L24)

We can work together to make it work without jQuery?

[2015-11-30 15:23] iJungleboy commented on #79
I believe all this could be done without jQuery - and it would probably be faster, and certainly cleaner (as jQuery tends to promote a unique dev-style :).

1. for the rare dom-selector it should work well with if(angular) { ...angular.element(...) }
2. bootstrap modal works easily without it - we use it a lot in 2sxc though we do use https://angular-ui.github.io/bootstrap/ so maybe that's a new d

[2015-11-30 17:44] joni2back commented on #79
Exactly!!, or handle modals with raw js to prevent the angular-boostrap module...
I'm on vacations this weeks, could you try to make this changes in a fork to propose a PR ?
Thanks!!!

[2015-12-01 15:43] jhulick opened #80 "cmis"

[2015-12-02 11:01] GutoMartins019 opened #81 "Brigde Java Upload"
I tried to use the upload function, but i always get an error, even if file is uploaded correctly.

 My solution is that code on servlet is missing a sucess response. Like i did:

responseJsonObject = success(null);
			response.setContentType("application/json");
			PrintWriter out = response.getWriter();
			out.print(responseJsonObject);
			out.flush();

This is the correct way?

[2015-12-02 11:58] iJungleboy commented on #79
I'll see what I can do but am pretty swamped w/2sxc for now. Hope to get to it but can't promise.

[2015-12-02 12:35] joni2back commented on #80
What?

[2015-12-02 12:44] jhulick commented on #80
please delete this. I was searching the issues for the term "cmis", to see if there were CMIS bindings. Somehow an issue was created accidentally, haha...

[2015-12-02 21:15] joni2back commented on #80
Lol !

[2015-12-02 21:15] #80 closed

[2015-12-06 13:48] jamiechoi opened #82 "Bridge response error, please check the docs"
I hosted this using hostinger and got this error. What are the possible reasons and how do I fix it?

[2015-12-07 22:05] iJungleboy commented on #79
I'm reviewing the code and can't actually run it on a normal windows / Visual-Studio environment. This means I would have to spend quite a lot of time just to get it to work - before I could start trying to remove jQuery. Can't prioritize this for now :(

[2015-12-07 22:38] iJungleboy opened #83 "Suggestion: Change how the server API is integrated"
The current implementation seems to do the following:

1. expect a config file to define the api endpoints `/src/js/providers/config.js`
2. assume that a standard json will be handled by the server
3. have an object-oriented item-approach on `/src/js/entities/item.js` which then has various actions like move, copy, etc.

This has quite a few drawbacks IMHO which would probably be easy to fix with

[2015-12-08 14:08] frodelau opened #84 "S3 file versioning"
Hello!
We are looking into using the Angular filemanager for our project.

One of the features we would like to use in a file manager is S3's file versioning: http://docs.aws.amazon.com/AmazonS3/latest/dev/Versioning.html

Is this something you could add support for?

[2015-12-10 09:48] VijaySankhat opened #85 "No effect."
I did all the things as given, but not able to see anything. I mean it does not shows anything at front, can you guide me please

[2015-12-14 12:54] joni2back commented on #85
Hello @VijaySankhat can you see if there are any error in your javascript console? Thanks

[2015-12-14 12:55] joni2back commented on #84
Hello @frodelau you can create your own backend connector following the API docs...

[2015-12-14 12:57] joni2back commented on #82
Hello @jamiechoi can you look the backend file response?... Did you clone the repo with --recursive param? (in order to include the dependencies of php-classic framework)

[2015-12-14 12:57] VijaySankhat commented on #85
No, not any error on javascript console I already seen there.

[2015-12-14 12:58] joni2back commented on #81
Hello, the java bridge was developed with a github collaborator, can you modify at you own following the api docs!

[2015-12-14 12:58] #81 closed

[2015-12-14 12:58] joni2back commented on #85
Do you have any modifications in the project?

[2015-12-14 12:59] VijaySankhat commented on #85
No still not

[2015-12-14 12:59] joni2back commented on #85
Let me try...

[2015-12-14 13:00] VijaySankhat commented on #85
When I run your source separately from browser then it runs fine.

[2015-12-14 13:00] joni2back commented on #85
the php source?

[2015-12-14 13:00] VijaySankhat commented on #85
No I mean UI

[2015-12-14 13:01] VijaySankhat commented on #85
I want to use your filemanager in my own module so how should I add dependency?

[2015-12-14 13:02] joni2back commented on #85
Did you fork the project with
$ git clone https://github.com/joni2back/angular-filemanager.git --recursive

[2015-12-14 13:03] VijaySankhat commented on #85
I just download your module from git-source and then simply run it.

[2015-12-14 13:12] VijaySankhat commented on #85
I have this kind of code. check this.
<code>
var app =  angular
  .module('MY_OWN_MODULE', [

  ]).config(['fileManagerConfigProvider', function (config) {
    var defaults = config.$get();
    config.set({
      appName: 'my angular-filemanager',
      allowedActions: angular.extend(defaults.allowedActions, {
        remove: true
      })
    });
  }]);</code>

[2015-12-14 13:50] joni2back commented on #85
Nope, you must use ***FileManagerApp*** instead of ***MY_OWN_MODULE*** to extend the config

[2015-12-14 14:02] VijaySankhat commented on #85
Then Would I be able to use this on "MY_OWN_MODULE" template page??

[2015-12-14 14:03] VijaySankhat commented on #85
Then would I be able to call file manager from "MY_OWN_MODULE" template?

[2015-12-14 16:16] joni2back commented on #85
Yes, you need to use angular-filemanager in another page (maybe an iframe)
Or just use 2 different angular apps in the same dom...

[2015-12-16 06:25] sagarora77 commented on #26
Hi @joni2back
Getting bridge response error, using php bridge for connectivity...
Wish to integrate it with ionic

[2015-12-16 07:03] sagarora77 commented on #82
Cloned the github repo with --recursive, removed all the dependencies, using Php bridge for connectivity, still getting the same "Bridge response error". Please suggest some way out.

[2015-12-16 12:21] joni2back commented on #82
Hi @sagarora77 Are you using another angular lib/framework that performs the requests to the backend bridge?

[2015-12-16 14:24] joni2back commented on #9
Already fixed !!! https://github.com/joni2back/angular-filemanager/pull/77

[2015-12-16 14:24] #9 closed

[2015-12-19 19:25] kernel164 opened #86 "rights=drwxrwxrwt chmod parse error"
Thanks for angular-filemanager. I was looking for a better file manager and finally found one.

I'm trying golang backend for angular-filemanager - https://github.com/kernel164/gofe

I get this error if rights=drwxrwxrwt
[code]

[2015-12-19 19:43] kernel164 opened #87 "edit:false not working"
Even after disabling edit, backend api gets called on click of file.
[code]

[code]

[2015-12-19 19:47] kernel164 opened #88 "upload setting for allowedActions missing"
I was expecting upload: false to disable "Upload File" button in allowedActions like shown below, but couldn't found one
[code]
https://github.com/joni2back/angular-filemanager/blob/master/src/js/providers/config.js#L24

[2015-12-19 19:51] kernel164 opened #89 "logout support"
my backend https://github.com/kernel164/gofe needs a logout button. It would be cool to have one.

Sample Config:
[code]

if logoutUrl not present - don't show logout button at top right
if logoutUrl present - show logout button

[2015-12-21 09:54] pvasanth0506 opened #90 "Unknown error creating this folder"
i am working localhost...
{"result":{"success":false,"error":"Unknown error creating this folder","errorDetail":{"type":"Exception" ,"code":0}}} this error coming

[2015-12-21 12:32] joni2back commented on #90
Hi @pvasanth0506, can you please first check if you can create a folder via ftp software like FileZilla?
Seems like are permission problems...

[2015-12-21 12:43] #88 closed

[2015-12-21 12:44] joni2back commented on #88
Hi @kernel164 fixed now !!
You could disable upload using something like:

[code]

[2015-12-21 12:59] joni2back commented on #87
Fixed now !!

[2015-12-21 12:59] #87 closed

[2015-12-21 13:00] joni2back commented on #86
You are using item with [sticky bit](https://en.wikipedia.org/wiki/Sticky_bit), let me check if can support this...

[2015-12-21 13:12] joni2back commented on #86
Fixed, sticky-bit prop is converted to execute property. Maybe not the best resolution, but necessary to dont broke the app.

[2015-12-21 13:12] #86 closed

[2015-12-21 13:13] #85 closed

[2015-12-22 04:48] pvasanth0506 commented on #90
i am working in linux OS....now i am getting  permission in  root folder...then
this type of error in console
POST http://localhost/angular-filemanager-master/bridges/php/handler.php

500 Internal Server Error

![screenshot from 2015-12-22 10 00 35](https://cloud.githubusercontent.com/assets/16303410/11948055/56ca23d2-a895-11e5-9c4d-a1513cf34e6f.png)

[2015-12-22 05:52] pvasanth0506 commented on #90
Is it possible to work in localhost??

[2015-12-22 11:55] joni2back commented on #90
Yes, but you need to configure your handler.php file to set your ftp credentials...
So, to ensure that works fine, first test with filezilla if you can connect to the same ftp account and create a folder.

[2015-12-24 00:32] cgoss opened #91 "Sample App"
Can you provide a sample app that shows a basic implementation of this control.

Thanks

[2015-12-25 07:21] pvasanth0506 commented on #90
hai,,,
i want this type of file manager....
plz send the localhost  working file manager....
i cannot understand file manager whole file.....
tell me the file flow  sir
thank u

[2016-01-11 05:26] zackgtr opened #92 "Cannot connect to the FTP server"
Hola, he configurado el archivo handler.php con los datos de mi servidor FTP pero aun así me dice que no puedo conectar con el servidor, tampoco me permite crear carpetas, subir archivos, ni nada. Podrías ayudarme?

[2016-01-12 07:15] ExtremeYu opened #93 "How to use this in java project"

[2016-01-12 07:16] ExtremeYu commented on #93
i don‘t understand how to use it 。。。

[2016-01-12 15:50] ExtremeYu opened #94 "some probles"
![qq 20160112234234](https://cloud.githubusercontent.com/assets/16620268/12268632/90353afe-b988-11e5-85ef-304085e3cbb7.jpg)
![qq 20160112234223](https://cloud.githubusercontent.com/assets/16620268/12268364/703e8c2e-b987-11e5-80d3-4b7d1e85ace3.jpg)

![qq 20160113005959](https://cloud.githubusercontent.com/assets/16620268/12270535/7ec4edd8-b991-11e5-8622-ccc18ba5ef83.jpg)
![qq 20160113011012](https:

[2016-01-13 05:12] sagarora77 commented on #82
Hi @joni2back ,
No, I am not using any framework, just trying to implement it in localhost with valid ftp credentials and verified it with FileZilla. Having classic php handler in place. Need your help to figure out the exact problem.

[2016-01-19 02:15] joni2back commented on #92
Hola, pudiste verificar con FileZilla u otro gestor de ftp que las credenciales sean validas?
Si de todas maneras tenes problema, fijate de conectarte a ftp sin modo pasivo, es decir...

[code]

[2016-01-19 12:26] chungyan5 commented on #94
I modified the AngularFileManagerServlet.java in:
- list all folders inside server, not limited in war folder only
- worked of upload file
- list() return right JSON object
- usiing new file api java.nio.file
- tested of Chinese

[code]

[2016-01-19 12:53] chungyan5 commented on #93
Hi, you can try this eclipse project, and export to war file to run it.

[Web_File_Manager.zip](https://github.com/joni2back/angular-filemanager/files/95879/Web_File_Manager.zip)

[2016-01-19 13:28] ExtremeYu commented on #94
原来是国人，大神好

[2016-01-19 14:03] ExtremeYu commented on #94
文件上传成功了，但是不能查阅，
![qq 20160119220220](https://cloud.githubusercontent.com/assets/16620268/12420557/57bebeaa-bef8-11e5-9931-4b2b8fb6f680.jpg)

[2016-01-19 22:04] chungyan5 commented on #94
At my war file example, you can find WebContent/WEB-INF/config/default/angular-filemanager.properties, edit repository.base.path to point to your path.

[2016-01-21 14:39] joni2back commented on #94
Hi, thanks for contributing the project, you can also create a pull-request with the fixes of the java connector.
Regards!

[2016-01-21 14:39] #92 closed

[2016-01-21 14:41] joni2back commented on #90
You need to debug your backend php connector or ftp credentials in order to verify if you are able to create folders regarding ftp permissions or something like that.
regards!

[2016-01-21 14:41] #90 closed

[2016-01-21 14:41] #84 closed

[2016-01-21 14:45] joni2back commented on #91
Hi @cgoss, I dont understand your question...

[2016-01-24 02:05] chongkong opened #96 "Demo is not working!"
[linked demo site](http://angular-filemanager.zendelsolutions.com/) seems to be unavailable!

[2016-01-25 04:03] joni2back commented on #96
Hi, i see working well right now... Can you please inform your country and do a
[code]
Regards

[2016-01-25 05:14] ssnukala opened #97 "PHP Bridge code for working demo"
Thanks for the plugin. This is very helpful.

Do you have working PHP code that is on your demo site, which shows the image preview and also create directory etc. the current php code says
throw new \Exception('This action is not available in the demo');
I am particularly interested in the image preview, for me it is opening the image in a separate window, but your demo shows it as a modal popup

[2016-01-28 15:03] #96 closed

[2016-01-28 15:17] #97 closed

[2016-01-28 15:20] joni2back commented on #97
Hi @ssnukala now in config settings you can enable or disable the image preview in modals.
So, you can extend the config to do something like:

[code]

[2016-01-28 15:22] joni2back commented on #94
Great, i will be testing your pull-request of java bridge and comment on it..

[2016-01-28 15:22] #94 closed

[2016-01-28 15:22] #91 closed

[2016-01-30 19:46] cgoss commented on #91
I was having trouble implementing this control in my app. I suspect it was
just me bing new to the technology. Sorry for the late reply other items on
my plate took priority.
On Jan 21, 2016 6:45 AM, "Jonas Sciangula Street" <notifications@github.com>
wrote:

[2016-02-01 22:08] ehartford commented on #24
I want to be able to drag a box around the files to select them, and also shift click and control click just like on linux, windows, and mac.

[2016-02-02 00:09] deardooley commented on #83
I agree. That's what we had to do in our case. We use a generic service backend and swapped out the existing api calls for appropriate callbacks to that. In our case we found we needed to reimplement both fileitem and permission to support a non Unix permission model.

if you want to rewrite the url dynamically to provide deep linking, then you may need to hack the directory tree controller to pro

[2016-02-05 06:50] boloindia commented on #82
Hi @sagarora77 Better install apache server xampp or wamp with Filezilla which will execute the code in handler.php

[2016-02-05 12:41] joni2back commented on #82
@sagarora77 @boloindia Of course you need to use also a php web server to run the ftp-connection handler :smile:

[2016-02-06 04:44] sagarora77 commented on #82
Thanks man for the support!

I solved the issue, the port number was the issue with my server.

Warmest regard

Sagar Arora

On Fri, Feb 5, 2016 at 6:11 PM, Jonas Sciangula Street <
notifications@github.com> wrote:

--
Warm regards,
Sagar Arora

[2016-02-15 06:25] zhouxh opened #98 "windows 10"
is this not  useful in win10? when open  with file   thow error “ Invalid chmod input data”

[2016-02-15 08:33] zhouxh commented on #98
That's because the returned array name is empty. Thus parsing “chmod” when the error occurred.I added a filter function on it.
 function delEmpty($v)
{
	if ($v['name']===null || $v['name']==="")   //当数组name为null,或者为空的时候删除改元素
		return false;
	}
	return true;
}
 $list = array_filter($list,"delEmpty");

[2016-02-15 08:50] zhouxh commented on #98
The above that there is a mistake, after the serial number to delete the chaos, I re modified the next, only the first element to deal with.
 if($list[0]['name']===null||$list[0]['name']==='')
   {
	   array_splice($list, 0, 1);
   }

[2016-02-15 14:12] joni2back commented on #98
Hi.... let me check in a ftp server thru windows.
Btw, if you pass an empty value in ```rights``` response property, should work fine.
After it, you can disable the permissions in frontend extending the config file

[2016-02-16 07:19] zhouxh commented on #98
thanks  !

[2016-02-17 10:06] fkoester commented on #73
I will try to implement this in the next days.

[2016-02-17 10:45] fkoester opened #101 "Modals not working"
First I want to say that your angular-filemanager is awesome! I really like it and it helps to implement my project to create a simple web app for securely sharing files via HTTP and a web interface.

So I successfully integrated the view into my Angular web app, but using the latest git version the modals are not working any more when clicking on the navbar buttons (e.g. upload).

I tried to debu

[2016-02-17 13:25] fkoester opened #104 "angular-translate: No sanitization strategy"
Angular-translate logs a warning:

"pascalprecht.translate.$translateSanitization: No sanitization strategy has been configured. This can have serious security implications. See http://angular-translate.github.io/docs/#/guide/19_security for details."

Should probably be fixed.

[2016-02-17 13:27] joni2back commented on #101
Hi @fkoester !! Thank you very much!!

I just cloned and tested the ***master*** branch and modals is working for me...
Can you please tell me if you have any changes (or working in a different branch)?

Also, check if jquery is included and paste here if there are any error in your js console.

Thanks!!

[2016-02-17 13:35] joni2back commented on #104
Thanks, this error is related to dependencies updates. I just fixed it (momentarily we use a null strategy to evaluate if is necessary to include ngSanitize)

[2016-02-17 13:36] #104 closed

[2016-02-17 14:06] joni2back commented on #73
Great!! .. Please take into account the related bridge ***click-changes*** that at the moment the actions (requests to the api) of item entity will be migrated to a service in charge of this

[2016-02-17 14:14] fkoester commented on #101
Thanks @joni2back for your quick help! You were right, I didn't load jQuery in my project. Now everything is working as expected :-)

[2016-02-17 14:14] #101 closed

[2016-02-17 21:28] hugentoblerd opened #106 "Node bridge"
I'm very interested in a node bridge and was wondering if that was currently being worked on. I would be interested in contributing.

[2016-02-17 21:39] joni2back commented on #106
Hi @hugentoblerd , Node bridge is not developed yet.
I'm very interested to have this for the project (i was thinking in expressJS)
So, if you are interested, you can propose a pull request to add to the project.
For backend side, Me in particular, Im very busy right now with the project frontend side in order to support/handle multiple files and drag and drop features.

Regards!

[2016-02-18 06:08] fkoester commented on #106
Hi @hugentoblerd, in my project I include a Node.js bridge (using Express). I intent to publish it as an own project in the next days.

[2016-02-18 08:38] hugentoblerd commented on #106
Hey @fkoester, that's awesome! Will you let me know when you publish it?

[2016-02-18 09:09] fkoester commented on #106
@hugentoblerd of course!

[2016-02-18 12:57] fkoester commented on #106
@hugentoblerd @joni2back Checkout my initial prototype for a Node.js bridge here:

https://github.com/fkoester/angular-filemanager-nodejs-bridge

[2016-02-18 13:25] fkoester commented on #89
Hi @kernel164 . I have a similar requirement for my project. I need a logout button but also at least one extra button for getting to the "manage users" function of my app.

So I think the proper solution is not to directly provide a logout button (and maybe more buttons for feature xy) in this project but rather allow to integrate the angular-filemanager UI component into your own project.

I cre

[2016-02-18 15:11] joni2back commented on #89
Great... I guess the best approach to this issue is to let angular-filemanager be used as wrapped element and have a logout link offside of the filemanager.. what do you think? @kernel164 @fkoester

[2016-02-18 18:25] joni2back commented on #83
Hi @iJungleboy @deardooley Im working on part of this at ***[click-changes](https://github.com/joni2back/angular-filemanager/tree/click-changes)*** branch.
This is an api refactor and a api-service in the js side (in order to support multiple files)

[2016-02-21 10:39] eladcandroid opened #109 "How to set the root FTP path?"

[2016-02-22 02:17] joni2back commented on #109
Hi @eladcandroid you can create an FTP account in a specified folder.
But if you wait a few days, there will be the release of the new **angular-filemanager** version with the new api (multiple file support) that will allows that!!

[2016-02-22 02:17] #109 closed

[2016-02-22 18:20] jlamer commented on #73
I was fiddling with the angular in the past few weeks and I could probably try to code this in the case @fkoester have not already started working on it.

[2016-02-22 19:03] fkoester commented on #73
@jlamer I did not start working on it yet, so please go ahead! :+1:

[2016-02-23 04:06] pvasanth0506 commented on #90
thank u sir,,,i ll try further enquiry text u later

[2016-02-24 18:29] jlamer commented on #89
I don't think something like authentication should be part of filemanager. It should only be part of something bigger. Or am I missing something?

[2016-02-24 18:33] jlamer commented on #79
:+1:

[2016-02-24 23:09] jlamer commented on #73
OK, I have some basic example not really using upload functions of module but only some directives.

Please take a look and try it out: #113

[2016-02-25 16:51] torifat opened #115 "Grow Up"

[2016-02-25 16:56] joshmanders opened #116 "undefined"

[2016-02-25 17:13] #115 closed

[2016-02-25 17:14] joni2back commented on #116
@joshmanders sorry bro, removed !

[2016-02-25 17:14] #116 closed

[2016-02-25 17:49] AlexanderKozhevin opened #117 "Clumsy UI. It's has very few common things with material design."
Here is a good examples.
![components_bottomsheets_modal15](https://cloud.githubusercontent.com/assets/4464561/13328721/4bce1e80-dc01-11e5-916f-8e00a9685ec6.png)
![files-app-01_2x 1](https://cloud.githubusercontent.com/assets/4464561/13328723/4c8d11b4-dc01-11e5-922f-f7527d7d821a.png)

[2016-02-25 18:20] joshmanders commented on #116
https://github.com/joni2back/angular-filemanager/issues/59

This is not your first time. Retitling the issue and deleting the body isn't going to make this go away. I have reverted your deletions and will report you for spam if you continue to do this.

[2016-02-25 18:46] Qix- commented on #116
Stahhhhhp doing this.

[2016-02-25 19:11] jlamer commented on #117
I think @joni2back welcomes any pull-requests :)

[2016-03-01 12:54] joni2back commented on #117
Hi @AlexanderKozhevin we are using a bootstrap based material design styles.
I'm aware that this bootstrap-skin is not the best approach to represent strict material-design, but we are working to improve this, on every feature every day.
Don't forget to give us a star :star: !! Thank you!

[2016-03-01 12:54] #117 closed

[2016-03-01 13:13] #98 closed

[2016-03-01 13:15] #93 closed

[2016-03-01 13:15] #82 closed

[2016-03-01 13:17] joni2back commented on #24
Hi people, in the branch "click-changes" im working on that.
Also @ehartford im working with multiple file selection !

[2016-03-02 20:05] mamashin commented on #73
Great work !
What about file upload progress ?

[2016-03-02 21:28] jlamer commented on #73
I will look at it probably over the weekend. I want to complete integration so the module will be used completedy as it should be but without some advanced features.

[2016-03-03 15:47] joni2back commented on #73
The new API docs (beta) are here https://github.com/joni2back/angular-filemanager/blob/click-changes/API.md

[2016-03-03 15:50] joni2back commented on #83
Hi again @iJungleboy  @deardooley I took your suggestion
Take a look to:

* https://github.com/joni2back/angular-filemanager/blob/click-changes/src/js/services/apimiddleware.js [converts any model data and executes the method in the request-handler]
* https://github.com/joni2back/angular-filemanager/blob/click-changes/src/js/services/apihandler.js [do the request to the backend]

[2016-03-03 15:51] #83 closed

[2016-03-03 15:52] joni2back commented on #89
logout url not should be part of angular-filemanager regarding the pull-request of @fkoester .
Thanks!

[2016-03-03 15:52] #89 closed

[2016-03-03 18:56] iJungleboy commented on #83
Very cool :+1:

[2016-03-03 19:19] jlamer commented on #73
Great, that will help me for sure.

[2016-03-04 08:23] deardooley commented on #83
well played, sir. +1

[2016-03-07 23:55] jlamer commented on #73
I finally had some time to add proper integration of ng-files-upload (including ). Check it please out: https://github.com/jlamer/angular-filemanager/tree/file-upload-v2 ... It won't break compatibility with existing bridges. I tested it with php bridge but it should work with java bridge just fine.

[2016-03-15 10:22] prdrg opened #119 "raw source code do not working"
Hi, when I comment min code and uncoment  raw source code in index.html page application do not work

[2016-03-15 11:14] jlamer commented on #119
Could you please elaborate more on how it does not work? Is there some error etc.?

[2016-03-15 12:19] durasj opened #120 "Use filemanager to pick files in tinyMCE, CKeditor etc"
I think the best way would be to add option to config where dev could add a callback which will be (if defined) called on every doubleclick instead of edit/preview etc with file path as argument.

I will implement this myself later today or tommorow but I want to hear your opinion or ideas.

[2016-03-15 12:39] Dexter990 opened #121 "help"
Hello everyone. I have spring mvc application and I want to implement filemanager inside my application. When user goes to documentation.jsp i want that application runs on that page. I included javascript files,and everything looks fine,but i don't know how to write servlet code for it to make it work..I hope you understand me.

Best wishes!

[2016-03-15 12:59] jlamer commented on #121
Hey, there is java servlet which could help you: https://github.com/joni2back/angular-filemanager/tree/master/bridges/java

[2016-03-15 13:07] joni2back commented on #120
I will working on this feature... to enable an option that allows only-select file(s) for file selectors in other apps..
callbacks should be the right way

[2016-03-15 14:09] jlamer commented on #120
Here is my implementation: https://github.com/jlamer/angular-filemanager/commit/52baaa64659379c8356844febe7290972ac85549

I am now using it on one of my websites.

[2016-03-15 18:50] durasj opened #122 "Don't use request body to download multiple files using GET"
It's not good idea to use request body when using GET HTTP method.

More info: http://stackoverflow.com/questions/978061/http-get-with-request-body and https://tools.ietf.org/html/rfc2616#section-4.3

I would advise to use query parameters like: `?path[]=/public_html/image.jpg&path[]=/public_html/image2.jpg`

It would be wise to use one URL and action for both single and multiple file downloads. B

[2016-03-16 18:31] joni2back commented on #122
Yes, I know that is unsafe and not the right way.
There are a lot of current browsers without support of ``window.saveAs`` (to download by ajax),
So for the moment we are using GET request to open it in another window. Maybe will be a better approach like using a post method html form... Ill be take care with this..

[2016-03-16 18:31] #122 closed

[2016-03-16 18:31] joni2back commented on #121
Hey @Dexter990 there are another bridge https://github.com/joni2back/angular-filemanager/pull/95

[2016-03-16 18:31] #121 closed

[2016-03-16 22:47] durasj commented on #122
I think it's completely OK to use GET, but I would like to have paths sent as array in one request in query parameters like that:

[2016-03-21 10:15] Dexter990 opened #125 "Upload file doesn't working"
When I try to upload file from disk i gives me error like this:
Servlet.service() for servlet [dispatcher] in context with path [/ATMReporting-web] threw exception [Cannot write file] with root cause
java.lang.Exception: write error
 I'm using java servlet from this address:
https://github.com/joni2back/angular-filemanager/blob/master/bridges/java/AngularFileManagerServlet.java

[2016-03-21 12:34] joni2back commented on #125
Hi, seems to be permissions problem... are you using Linux in the upload destination?

[2016-03-21 13:27] Dexter990 commented on #125
Hi,thanks for replay.
No,i'm not using Linux.Im using Windows..
I'm trying to implement filemanager in my application,but now I get error like this:

SEVERE: Servlet.service() for servlet [dispatcher] in context with path [/ATMReporting-web] threw exception [Cannot write file] with root cause
java.lang.Exception: file size  = 0
	at rs.mypackage.atmreporting.web.controller.reports.ReportsController

[2016-03-21 13:28] Dexter990 commented on #125
@RequestMapping(value="/doUpload",method=RequestMethod.POST)
	private void uploadFile(HttpServletRequest request, HttpServletResponse response) throws ServletException {
		// URL: $config.uploadUrl, Method: POST, Content-Type: multipart/form-data
		// Unlimited file upload, each item will be enumerated as file-1, file-2, etc.
		// [$config.uploadUrl]?destination=/public_html/image.jpg&file-1={..}&

[2016-03-28 20:47] gmohite7 opened #129 "Help"
Hi joni.I am very new to angularJs and would like to install and run your application.I installed the angular-filemanager per instructions in the readme however when i open up index.html i only see a blan application.Can you please advise me how do i run this app to get one similar to one shown in the demo ? Thanks for your help in advance

[2016-03-29 01:48] joni2back opened #130 "Minor fixes"
Improve template for display the name of the selected files
![angular filemanager](https://cloud.githubusercontent.com/assets/2049935/14095458/ecb5c08e-f536-11e5-913e-0b9d13427590.png)

Add some translations like this
![angular filemanager2](https://cloud.githubusercontent.com/assets/2049935/14095459/ecdb05ba-f536-11e5-92f1-f60d89a96219.png)

[2016-03-29 01:48] joni2back commented on #130
Hi @durasj would be nice if you have time to help me with this one !! Regards

[2016-03-29 17:40] durasj commented on #130
I will take a look in the next days. Maybe over the weekend.

[2016-04-03 17:19] DarkStar1 commented on #129
@gmohite7 Just drop create an apache vhost and symlink the root folder of the project.
I however found that the php bridge doesn't work for me at all. Too many issues to jump over.
So I would recommend using [Fabian Köster's nodeJS bride](https://github.com/fkoester/angular-filemanager-nodejs-bridge)

[2016-04-03 17:24] durasj commented on #129
You could also try my php local bridge ... In most cases it is easier to get up and running. Just edit the config.js in /src/js/providers directory ...

`            listUrl: 'bridges/php-local',
            uploadUrl: 'bridges/php-local',
            renameUrl: 'bridges/php-local',
            copyUrl: 'bridges/php-local',
            moveUrl: 'bridges/php-local',
            removeUrl: 'bridges/

[2016-04-03 18:08] DarkStar1 commented on #129
@durasj Would 5.6 be sufficient or should I just go for 7?

[2016-04-03 20:07] DarkStar1 commented on #129
@durasj On php v5.6.20 when I change the parameter of the file manager api to include a path (absolute from root file system) **$fileManagerApi = new FileManagerApi('/Users/darkstar1/Desktop/test', 'en');**
It doesn't work and I get the following error in the apache log:

[2016-04-03 23:15] durasj commented on #129
Strange ... filemanger should send POST request instead of GET for file list ... Or are you trying to do something else? Like multiple file download?

[2016-04-04 07:00] DarkStar1 commented on #129
No. Nothing at all. This is when I am trying to load the app. I am not php saavy at all so I can't debug this issue.

[2016-04-04 08:34] durasj commented on #129
Well I think the change in path is probably not the problem here. I was testing it with PHP 5.6 and PHP 7.0 and it worked out of the box and I can't reproduce your problem.

It looks like there is some GET request. Can you check developer console in browser and tell if there is anything in console and what requests are sent to bridge?

[2016-04-04 09:02] DarkStar1 commented on #129
Ok the issues I faced are due to the php version I am using (according to my friend that helped me debug the php).
First there needed to be a "/" at the end of the actions url so
listUrl: 'bridges/php-local', becomes listUrl: 'bridges/php-local/',

Second I created a .htaccess file in the php-local root to add the following settings:
php_value date.timezone "Europe/Copenhagen"
php_value always_pop

[2016-04-04 09:08] durasj commented on #129
Glad it works!

The problem wasn't in the PHP version but probably configuration of your webserver (nginx, apache, built-in) and PHP. In the most cases trailing slash is not required. Changes in php.ini are right on the spot :)

[2016-04-07 04:54] generalconsensus commented on #79
:+1:

[2016-04-07 05:02] joni2back commented on #79
Hands on that!

Anyone can help me to translate this jquery selector to native?

[code]

[2016-04-07 10:12] durasj commented on #79
If I understand what you want to do, here is how: https://plainjs.com/javascript/events/live-binding-event-handlers-14/ ... plainjs.com is really great if you want to do something in raw js and don't want to spend hours searching

[2016-04-13 18:45] dnichols178 opened #132 "Styling "file upload""
Using the file manager on Chrome I wanted to get rid of "no file chosen" when uploading files.

To create an upload "area" simply remove (or comment) out a line in modal.html template and add the lines below.

`<input type="file" title=" " class="form-control" ng-file="$parent.uploadFileList" multiple="multiple">`

And add the following lines in its place:

`<div class="area">`
`<div class="dropZo

[2016-04-13 19:31] joni2back commented on #132
Thanks, i will test it to add to the project.

For your information, there are a hack for input[type=file]
that consists in trigger this click ... clicking other element... instead tricking with css

for example
[code]

[2016-04-13 19:33] durasj commented on #132
I already did much better integration of ng-file-upload with support for drop, feedback when dropping and list of files which will be uploaded. You can see it here: https://github.com/durasj/angular-filemanager/tree/file-upload-v2

[2016-04-13 19:50] durasj commented on #132
![file upload v2 demo](https://cloud.githubusercontent.com/assets/1062898/14507153/add384e0-01c1-11e6-9b5a-84c51e89e2d3.gif)

[2016-04-14 12:09] dnichols178 commented on #132
durasj - I implemented your code last night, but in Chrome (version 49.0.2623.112) the "select files" button doesn't bring up a dialog to select files and automatically starts an upload.

[2016-04-14 12:44] joni2back commented on #132
@durasj could you propose a clean MR with the changes of that screenshot??

[2016-04-14 12:55] durasj commented on #132
I already did: https://github.com/joni2back/angular-filemanager/pull/118 but it was declined.

@dnichols178 will take a look later at those issues

[2016-04-14 20:16] #132 closed

[2016-04-14 20:52] dnichols178 commented on #109
I am using version 5.0, but I am unsure where I need to specify the directory I want to pull files from. Also, I have received bridge errors - it is not clear if /php/php-classic/ftp.php is supposed to be used or not.

I notice a few lines in handler.php for the connection string, but there is also the:

`require_once __DIR__ . '/php-classic/src/autoloader.php';`

`use PHPClassic\ExceptionCatcher;

[2016-04-14 20:53] durasj commented on #109
If you don't need FTP try my local bridge https://github.com/joni2back/angular-filemanager/pull/124

[2016-04-15 01:13] dnichols178 commented on #109
I will give it a try, but Is there no way to point the FTP connection to a directory on the server?

i.e. FTP server: domain.com/ Directory: domain.com/files.

My default FTP account points to my root and I can't change it.

[2016-04-15 14:55] durasj commented on #132
@dnichols178 I just tried it and it works completely like it should ... I could not reproduce the issues you mentioned.

[2016-04-16 15:40] durasj commented on #109
You have to ask @joni2back as he is, I think, the author of that bridge. But if I remember correctly he said it is just example how to implement API and you could do your own bridge if you know any backend language (JS, Ruby, Python...)

[2016-04-16 18:40] durasj commented on #120
I updated my implementation: https://github.com/durasj/angular-filemanager/tree/pick-file-callback ... anything missing @joni2back ?

[2016-04-18 13:39] joni2back commented on #132
Hi @durasj this was merged... there are a problem when you drag items in the app (not out from browser)... it show the overlay like if you are dragging a real file

[2016-04-18 15:51] durasj commented on #132
Thanks, I will look at it

--
S pozdravom

Jakub Ďuraš
Web developer, D.Media, s.r.o.
m: +421 917 432 974
e: jakub@duras.me [mailto:jakub@duras.me]
w: www.duras.me [http://duras.me/]
On 18. 4. 2016 15:39:54, Jonas Sciangula Street <notifications@github.com> wrote:
Hi @durasj [https://github.com/durasj] this was merged... there are a problem when you drag items in the app (not out from browser)...

[2016-04-18 16:07] joni2back commented on #130
Can I close this one?

[2016-04-18 16:13] durasj commented on #130
I guess :) Anything else to fix?

[2016-04-18 17:54] joni2back commented on #130
This is also covered??
![angular filemanager](https://cloud.githubusercontent.com/assets/2049935/14095458/ecb5c08e-f536-11e5-913e-0b9d13427590.png)
I thinking in improve or redesign this behaviour... ideas?

[2016-04-20 11:27] Lasim opened #135 "Root Path"
Dear angular-filemanager community,

how and where can I set the "root path" ?

For example angular-filemanager is installed in path /vaw/www/angular and I want to edit files
under the path /srv/xyz ?

(Without creating symlink... )

Regards,
Lasim

[2016-04-20 11:28] durasj commented on #135
Hey,

what bridge are you using?

[2016-04-20 11:39] Lasim commented on #135
Hi durasj,

what bridge can or should I use to do that ;-)))) ??

Thank you

[2016-04-20 11:42] durasj commented on #135
Depends on which language you are running on your backend.

I made [php-local bridge](https://github.com/joni2back/angular-filemanager/tree/master/bridges/php-local) written in, well, php :)

You can set path that will be used in [index.php](https://github.com/joni2back/angular-filemanager/blob/master/bridges/php-local/index.php).

To use my bridge just point all actions in config to directory wit

[2016-04-20 11:49] Lasim commented on #135
Like this:

`$fileManagerApi = new FileManagerApi(
['path' => '/srv/xyz']
);`

?

[2016-04-20 11:50] durasj commented on #135
Just string

`$fileManagerApi = new FileManagerApi('/srv/xyz');`

[2016-04-20 11:51] Lasim commented on #135
Thank you!

[2016-04-20 11:51] #135 closed

[2016-04-20 11:52] durasj commented on #135
Glad it worked :+1:

[2016-04-28 13:04] xsenechal opened #137 "Add routing to be able to share the link of a specific folder"
Hi,
It would be very handful to have a mapping between urls and current directory.
For example, going to http://angular-filemanager.zendelsolutions.com/configs/BITEC/test would place the user directly in the folder "test".
It would also be nice to navigate using browser history (previous/next).

THanks

[2016-04-28 13:41] durasj commented on #137
Hey,

usually in Angular something like that is done with [router](https://github.com/angular-ui/ui-router).

I think it would be great if whole project adapted routing. So the URL would change also when changing "page" - changing view from list to grid etc.

The URL you described would then look like "/#list/configs/BITEC/test".

[2016-04-28 13:59] joni2back commented on #137
I've thought about it, I'm open to code proposals!! Regards

[2016-05-03 20:14] #130 closed

[2016-05-03 20:14] #129 closed

[2016-05-03 20:15] #119 closed

[2016-05-03 20:15] #106 closed

[2016-05-03 20:15] #73 closed

[2016-05-04 03:07] ravindrayadavb opened #138 "Help Needed for Using FileManagerApp in existing Project"
Hi Joni,

I am new to Angular JS, and I am working on implementing the File Manager in my Project. I have a module name "abs", So, I changed all the files ("FileManagerApp" to "abs") in all files. But I am getting an following error.

![image](https://cloud.githubusercontent.com/assets/18747926/15004302/86cf690a-1183-11e6-8d42-7d5574ac88c1.png)

Please guide me how to resolve this.

Thanks in adva

[2016-05-05 00:24] #138 closed

[2016-05-06 12:42] LordApo opened #139 "PHP CLASSIC Missing"
The php-classic folder is empty when downloaded, we need to manually add this https://github.com/joni2back/php-classic/tree/e0a6e78e78910f6848b3a5316fe231004d8cdbe6 # #

[2016-05-06 12:51] joni2back commented on #139
Hi, you need to clone the project with submodules, for example

```git clone https://github.com/joni2back/angular-filemanager.git --recursive```

[2016-05-06 12:51] #139 closed

[2016-05-07 15:43] diego-XA opened #140 "Select files or directories for bulk actions"
It would be great to be able to select several files or directories so you can apply bulk actions. For example: move several files to another location.

[2016-05-07 15:43] diego-XA opened #141 "Update the API document"
The API document should be updated with the new API specification.

[2016-05-09 20:35] rcorzogutierrez opened #142 "update packages"
![image](https://cloud.githubusercontent.com/assets/5765375/15127274/ea3d455a-1603-11e6-9b11-1fb9bbbc997e.png)

[2016-05-10 12:39] joni2back commented on #141
Hi @diego-XA, It seems to have been github server repos error on that day... Now is ok...

https://github.com/joni2back/angular-filemanager/blob/master/API.md

[2016-05-10 12:39] #141 closed

[2016-05-10 13:04] joni2back commented on #142
Updated!!
There are dependencies of dependencies that is not handled by my project.

[2016-05-10 13:04] #142 closed

[2016-05-10 19:17] diego-XA commented on #141
Actually, I am writing a backend in python and I am seeing that the front end sends the requests in the form:

`{
   "params":{
       .....
    }
}`

Also "rename" seems to be using "path" and "newPath" not "item" and "newItemPath".
I also did not see any call to "move", only to rename. I think there are more things over there.

When I saw something related to APIv2 I thought that simply the docs

[2016-05-10 19:34] joni2back commented on #141
Seems that you are not updated the project
Try to git pull or download the master repo and tell me

[2016-05-11 13:27] joni2back commented on #141
Check with online fresh project

Rename action in http://angular-filemanager.zendelsolutions.com/ is requesting with:
[code]

[2016-05-11 17:30] diego-XA commented on #141
Right, I was using the last release instead of the code from the repository.

Thank you for taking your time clarifying this !

[2016-05-11 17:34] #140 closed

[2016-05-11 18:23] diego-XA commented on #140
In case anybody ends up here:

   It is possible to select several files or directories by using `Shift + Click` or `Ctrl + Click`.

[2016-05-11 18:31] diego-XA opened #143 "Error copying files with the last dist files"
I am using the last dist files to write a backend and when I am trying to copy a file inside the same directory ( for example `test.txt` to `test.txt.bkp` ), angular-filemanager is sending this:

[code]
when it should send:

[code]
NOTE: In the modal, **Destination** still shows `/test.txt.bkp`

[2016-05-11 19:54] joni2back commented on #140
yes :+1:

[2016-05-14 06:19] szdmr opened #144 "Java Bridge Possible Security Issue"
The java servlet code takes the path variable directly and there is no check if it goes to parent folders. It is not possible with the module itself, but one can mimic the XHR's easily with paths starting with "../../../../../../" and end up downloading/listing all the files in the hard drive, depending on given access.

I know its the minimum code to make it work, but I am also sure that there wi

[2016-05-15 04:20] datlong1502 opened #145 "Copy link feature"
This module should support copy link of file.
example. with a file avatar.jpg it show option copyLink. After that file URL copied to clipboard and also support config callback for 3rd.

[2016-05-16 00:46] joni2back commented on #145
Hi, thanks for recomend that feature, actually there are another issue like this #120
I'll be working for that!! Regards

[2016-05-17 14:16] Tilkeii opened #146 "Search form"
Currently, the search form only search in the current directory. Is this possible that the search form can search inside subdirectory of the current directoy ?
How to do this ?

[2016-05-17 15:05] joni2back commented on #146
Hi @Tilkeii nope.. The idea is to find a file in the current folder.
Actually we not prioritize that functionality
If you want to add finding-recursive module you should write it in frontend and backend.

[2016-05-17 15:05] #146 closed

[2016-05-20 09:21] diego-XA commented on #143
I've checked the [demo site](http://angular-filemanager.zendelsolutions.com/) and it does exactly the same: the `newPath` is set to a directory name despite the new name assigned to the file.

In my humble opinion, there would be 2 ways to do this:

1. Only allow directories as destination in the frontend when several files are selected (this is how it works now) and when a single file is selected

[2016-05-20 11:52] joni2back commented on #143
Hi, this is a bug in the js side..
When you select just one item you can give it a new name.. (but im saw is not sending in the request)
But when you select more than one, you only could select a folder (this is only that are working)

Let me write a fix and i will linking the commit to this issue

[2016-05-20 15:47] diego-XA commented on #143
That would be great, thank you!

[2016-05-26 06:00] azerafati opened #147 "image thumbnails"
I would definitely love to see image thumbnails also embedded in the project. It would be awesome

[2016-05-26 12:26] joni2back commented on #147
Hi @azerafati are you referring to thumbnails for image files?
how do u think? replacing icons??

Regards

[2016-05-26 15:32] azerafati commented on #147
yea, it would be great to see small versions on the images instead a of their icon so to find them more easily. I really enjoyed this work and plan to use it in one of my projects, so I guess I can work on that part. I'll give it a try

[2016-05-26 16:13] joni2back commented on #147
Great, Also I think about doing something like
https://codepen.io/tevko/pen/DdsnK

Or just use css class as extension, for example like this one:
https://gist.github.com/gschoppe/08a814043da5e5f02f5c#file-file-format-icons-css

[2016-05-26 16:36] azerafati commented on #147
wow the second one was so clever, but for images really a thumbnail would be so much better

[2016-05-26 21:49] #147 closed

[2016-05-26 21:53] joni2back commented on #147
@azerafati I just added file extension in icons for the moment.. You can check in http://angular-filemanager.zendelsolutions.com/ (large icon view)

[2016-05-27 03:09] #143 closed

[2016-05-27 03:11] joni2back commented on #143
Hi @diego-XA take a look to 3e36c1c that closes this one..
Now when you are copying a single file you will receive ```singleFilename``` param

For more info check the updated API

[2016-05-29 08:18] azerafati commented on #147
@joni2back no that commit doesn't resolve this. Those Icons are awesome but I meant image thumbnails. That's totally necessary too
 like this,
http://ckeditor.com/apps/ckfinder/3.3.0/ckfinder.html?Type=Images&CKEditor=editor1&CKEditorFuncNum=0&langCode=en

[2016-05-30 14:46] sachendrapal opened #149 "Can we implement this feature using angular2 RC1?"
I am working on a project where i need to develop a module to manage files and folders and this application is perfectly doing it.
Now i need some advice from you to how i can implement this same functionality using angular2 RC1. Just few tweaks to your application would help me a lot.

[2016-05-30 14:51] durasj commented on #145
Hi, yep, as @joni2back said, I had probably same requirement. What do you think about my implementation?

[2016-05-30 14:55] durasj commented on #149
Hello,

angular2 is quite different with components etc and I think it would require substantial rewrite.

Maybe you could make use of [ngUpgrade](https://www.google.sk/search?q=UpgradeAdapter).

But I am still interested what @joni2back thinks.

[2016-05-30 16:07] joni2back commented on #145
Hi @durasj let me check

[2016-05-30 17:10] #120 closed

[2016-05-30 17:10] #145 closed

[2016-05-30 17:12] joni2back commented on #145
Hi @datlong1502 is supported now!! dd63d4e6d3f8b10fcf19a484a720d9d662289d1e
Thank you @durasj for your previous contribution!!

[2016-05-30 17:15] joni2back commented on #120
You now will need to extend the config doing something like

[code]

[2016-05-30 17:17] joni2back commented on #145
You now will need to extend the config doing something like

[code]

[2016-05-30 17:35] joni2back commented on #149
Hi @sachendrapal for the moment, we arent going to migrate to angular2.
I prefer to continue with angular 1 while angular2 gets really polishing and stable

[2016-05-30 17:35] #149 closed

[2016-05-30 17:53] durasj commented on #120
Could you also think about implementing https://github.com/durasj/angular-filemanager/commit/67117561157ecc9c6da143f4f7aba808f3dcdceb? So I can return true from callback when I don't need to pick any file and manager will work as usual. Or something like that.

I am using it like that to pick files using TinyMCE, but sometimes I open file manager without the intention to pick file and so my callba

[2016-05-30 18:39] joni2back commented on #120
Great approach @durasj, would you like to create a PR for that?
(don't forget to use curly braces in conditionals please :angel:)

Note: Maybe follow the behaviour of ```return false``` will be better option (like event bindings example click onclick="function() {return false}" will stop execution)
[code]

[2016-05-31 08:43] sachendrapal commented on #149
@joni2back Thanks for your reply. But please let me know what can be done to migrate your project to angular2 because we have already started building our product on angular2.
Awaiting positive reply.

[2016-05-31 15:49] joni2back commented on #120
Already merged you proposal

[2016-05-31 17:37] durasj commented on #120
Really sorry about curly braces. Thanks for accepting the changes. I was also thinking about using false but true seemed more natural to me. Like var callbackDidSomething = true and false if it did not so the smart click can continue.

[2016-06-02 03:24] datlong1502 commented on #145
Best work @joni2back , @durasj :+1:

[2016-06-03 18:45] sachendrapal opened #152 "Getting Bridge Response Error"
I have downloaded the Zip file and trying to run it locally but getting Bridge Response Error. Do i need to setup database locally? If yes then how.
![image](https://cloud.githubusercontent.com/assets/19491130/15789368/5f5fa2ee-29e9-11e6-87b5-88c15a1024b9.png)

Waiting for a positive reply.

[2016-06-04 15:18] sachendrapal commented on #82
@joni2back I am getting the same error as well. As suggested by you, what exact values i need to put into config.js.

[2016-06-05 10:01] LordApo commented on #152
No, you need to `git clone https://github.com/joni2back/angular-filemanager.git --recursive`

[2016-06-05 10:31] sachendrapal commented on #152
@LordApo  i have done the same but still getting the same error. Are there other config files i need to manage?

[2016-06-05 23:59] joni2back commented on #152
Hi @sachendrapal after you clone repo with the php-classic sources, did you modify the handler.php file to set your own ftp credentials??

Regards!
PD: Thanks @LordApo

[2016-06-06 06:44] sachendrapal commented on #152
I am trying to run it locally so i think there is no need to set the ftp credentials. Am i right?
Also i have edited the config file like,
 listUrl: 'bridges/php-local/',
            uploadUrl: 'bridges/php-local/',
            renameUrl: 'bridges/php-local/',
            copyUrl: 'bridges/php-local/',
            moveUrl: 'bridges/php-local/',
            removeUrl: 'bridges/php-local/',

[2016-06-06 07:10] durasj commented on #152
I think you need to set files directory https://github.com/joni2back/angular-filemanager/blob/master/bridges/php-local/index.php#L16 ... Something like
`$fileManagerApi = new FileManagerApi("../files");`

[2016-06-06 08:15] sachendrapal commented on #152
I have something like this but still getting the error,

$fileManagerApi = new FileManagerApi("C:/Users/Sachendra Pal/Documents/Genieji/Angular/Github/New folder/angular-filemanager", 'en');

Am i missing anything?

[2016-06-06 09:39] durasj commented on #152
What's the error you are getting?

[2016-06-06 11:40] sachendrapal commented on #152
In browser console i am getting error 405: Method not allowed under handler.php file.

[2016-06-07 19:20] sachendrapal commented on #152
@durasj Thanks for your valuable time. Its working perfectly fine. Closing the issue.

[2016-06-07 19:29] durasj commented on #152
@sachendrapal No problem, glad I could help!

[2016-06-07 19:38] joni2back commented on #152
Thanks @durasj !

[2016-06-07 19:38] #152 closed

[2016-06-14 01:41] joni2back commented on #117
Hi @AlexanderKozhevin take a look to the new changes, now follows some more material design rules.
@durasj Take a look you too :+1:

[2016-06-14 15:01] jrondorf opened #155 "Documentation for installing angular-filemanager with PHP Server option"
Hi, is there any documentation available how to install angular-filemanager with the PHP Server option, or which PHP version is supported?
When installing on a PHP server, all I get is

- Either *Bridge response error, please check the docs*
- or *bridges/php/handler.php 500 (Internal Server Error)* after installing PHP Classic source files

Thanks!

[2016-06-14 16:33] durasj commented on #117
Hey, that looks promising. I would like to improve it a little bit more in the future but I am just too busy atm. Good work!

[2016-06-14 16:34] durasj commented on #155
Hello,

by default bridge from @joni2back is used which expects you to use FTP server.

If you want to run it with files hosted next to your code, you can use my [php-local bridge](https://github.com/joni2back/angular-filemanager/tree/master/bridges/php-local).

You can set path that will be used for files in [index.php](https://github.com/joni2back/angular-filemanager/blob/master/bridges/php-loca

[2016-06-15 15:44] joni2back commented on #155
Hi @jrondorf I just updated the Angular-Filemanager in order to show more details about backend errors.
Also I removed the submodule php-classic in order to prevent some kind of errors when users clone the repo.
We dont have some kind of backend bridges yet, but I will take into account for the next changes.

[2016-06-15 15:44] #155 closed

[2016-06-16 05:53] mayank23er opened #156 "How to pull data from localhost or my computer"
What if i dont want to use FTP and want to pull data from localhost

[2016-06-16 06:38] durasj commented on #156
Hello,

by default bridge from @joni2back is used which expects you to use FTP server.

If you want to run it with files hosted next to your code, you can use my [php-local bridge](https://github.com/joni2back/angular-filemanager/tree/master/bridges/php-local) or code your own bridge according to API documentation.

If you will decide to use my bridge, you can set path that will be used for files

[2016-06-16 07:14] mayank23er commented on #156
add below line in index.php but still get error

$fileManagerApi = new FileManagerApi('http://localhost/file-repo');

Do i need to include some files for same?

[2016-06-16 08:20] loublock opened #157 "Share function"
I have created a register and login function. Now I thought about a share function. For this I need in the right click menu of folder/file an entry "share". Where do I have to implement this?

[2016-06-16 08:26] durasj commented on #156
Path should be relative or absolute on your **file system**. So something like

`$fileManagerApi = new FileManagerApi('../../files');`

And you need to modify your index.html with the config to my bridge. I am enclosing zipped index.html so you get the idea (lines 57-70):
[index.zip](https://github.com/joni2back/angular-filemanager/files/317946/index.zip)

[2016-06-16 11:02] mayank23er commented on #156
Awesome any idea how to show total count of files in a folder?

[2016-06-17 08:13] durasj commented on #156
Not sure, is it implemented @joni2back? I guess you have to write it yourself.

[2016-06-17 11:54] Yoanribeiro opened #158 "Plans for an Angular 2 upgrade?"
Hello there!

Great job with this filemanager! Do you have any intentions to upgrade it to angular 2? As a different repo, of course.

Thank you very much!

[2016-06-17 13:28] jrondorf commented on #155
@durasj Great, works fine. Regarding
[code]
Modifying the base path does not seem to work. Is there a way to start up the folder tree, e.g. where index.html is stored?

[2016-06-17 18:23] jrondorf commented on #155
@durasj Forget my last comment. Everything works as expected. Example:
`$fileManagerApi = new FileManagerApi($_SERVER['DOCUMENT_ROOT'], 'fr');`

[2016-06-18 19:23] durasj commented on #155
Glad you got it working.

[2016-06-18 19:43] jrondorf opened #160 "Special web-unsafe characters will not be escaped during upload."
By accident, I uploaded a picture with a special character (like "–", a longer hyphen, see http://unicode-table.com/en/2013/) in it.

This resulted in a file, which was not able to be previewed, nor deleted. Is there a place where this could be encoded?

[2016-06-19 23:35] joni2back commented on #158
Hi @Yoanribeiro is not a priority, but Im doing some migration tests...

[2016-06-19 23:37] joni2back commented on #156
Not yet, I will take into account for nexts releases... (some kind of status bar)

[2016-06-19 23:37] #156 closed

[2016-06-20 11:03] jrondorf opened #161 "Compress Action in local PHP bridge throws Class 'AngularFilemanager\LocalBridge\ZipArchive' not found error"
Trying to compress 2 files will result in following error

`Uncaught Error: Class 'AngularFilemanager\LocalBridge\ZipArchive' not found in <server_path_to_bridge>/LocalBridge/FileManagerApi.php:374`

Even when ZIP PHP extension is installed on the server, and
`new ZipArchive()`
works in another PHP file on the same server.

Any idea?

[2016-06-20 11:06] durasj commented on #161
Hi,

that's most definitely a bug https://github.com/joni2back/angular-filemanager/blob/master/bridges/php-local/LocalBridge/FileManagerApi.php#L373 ... There should be \ in front of the class name. It is a problem with the namespace.

I will fix that soon, thanks for reporting!

[2016-06-20 11:11] durasj commented on #161
Hey, @jrondorf could you please try if these changes https://github.com/joni2back/angular-filemanager/compare/master...durasj:patch-2 fixed the problem for you?

[2016-06-20 11:14] durasj commented on #160
Hi,

I had similiar problems with some local characters but so I guess I need to take a look whether it happens on the frontend or in the bridge.

[2016-06-20 11:24] jrondorf commented on #161
@durasj Perfect, works now! Thanks!

[2016-06-21 11:50] ishakya opened #162 "Issue in open/closed folder icon of tree"
If I create two folders named 'a' and 'ajdfasf' respectively. Then, when i click 'ajdfasf' folder, the icon of 'a' folder also changes to open.
![screenshot from 2016-06-21 17-32-42](https://cloud.githubusercontent.com/assets/5999467/16228381/66e31870-37d6-11e6-86a4-2edb247f5d4b.png)

[2016-06-21 20:18] joni2back commented on #161
Hi @durasj could you send that MR for this one?
I recomend to declare classes after namespace declaration like..

[code]

[2016-06-21 20:18] #161 closed

[2016-06-21 20:21] joni2back commented on #157
Hi @loublock could you explain with more details what you need to do?

Maybe you can use the pick callback explained here https://github.com/joni2back/angular-filemanager#extending-the-configuration-file

[2016-06-21 20:26] joni2back commented on #144
Hi @szdmr thank you for this security report.
Currently java bridge is obsolete regarding the new api spec.. But I will take into account for future modifications.

Regards!!

[2016-06-21 20:26] #144 closed

[2016-06-22 15:30] #162 closed

[2016-06-22 15:30] joni2back commented on #162
Thanks @ishakya , is fixed now!

[2016-06-22 15:37] jrondorf opened #163 "CHMOD Permission change brakes file permissions in Local PHP Bridge"
Hi @durasj

have you examined the behaviour, that, if you change permissions to lets say 777, you end up with a file, which has 000?

I tested this with 2 different hosting companies, and after changing the permissions, I was not able to access the file any more through filemanager. With my FTP tool, I've seen that 000 was applied.

Also on another file, which was 777 (set by the FTP tool), I chan

[2016-06-22 15:47] durasj commented on #163
Hello,

could you maybe find out what OS was used? Unfortunately, I don't use permission feature at all and I checked if it works just by doing some simple change I think ... Maybe it has something to do with the octal=>decimal conversion. That could be the problem.

[2016-06-22 15:50] joni2back commented on #163
Hey @durasj maybe this approach will be more easily
https://github.com/kernel164/gofe/blob/master/main.go#L127 (this is a angular-filemanager GO bridge)

[2016-06-22 16:02] jrondorf commented on #163
@durasj All info I have from phpinfo is:
- Linux info 3.0 #1337 SMP Tue Jan 01 00:00:00 CEST 2000 all GNU/Linux
- Linux camellia.ispgateway.de 2.6.32.53-grsec-pvops-xen-x64 #5 SMP Fri Jun 13 13:46:07 CEST 2014 x86_64

[2016-06-22 16:03] durasj commented on #163
Hey @joni2back and @jrondorf, Linux should be OK, I will try to do something on my debian box soon.

Thanks @joni2back for the link!

[2016-06-24 14:11] itdotnet commented on #152
hi
I also have a problem.  I have the following error
Error 405 - Bridge response error, please check the API docs or this ajax response

In your opinion, what's the problem?!

[2016-06-24 14:17] jrondorf commented on #152
Check FileManagerApi class. This class can be initialized with additional logging.
Then, check your browsers dev tools, and the message when the local bridge PHP handler is called (network tab).

[2016-06-24 14:47] itdotnet commented on #152
sorry, I did not understand exactly
please Is is possible explain more precisely?!
Or you give an example?!
Because I am a little amateur

[2016-06-25 13:58] itdotnet commented on #82
hi
I also have a problem. I have the following error
Error 405 - Bridge response error, please check the API docs or this ajax response

In your opinion, what's the problem?!

[2016-06-25 14:04] itdotnet commented on #155
hi
I also have a problem. I have the following error
Error 405 - Bridge response error, please check the API docs or this ajax response

In your opinion, what's the problem?!

[2016-06-25 14:18] sachendrapal commented on #82
@itdotnet
1) Edit your index.html file by adding things,
<script type="text/javascript">
    //example to override angular-filemanager default config
    angular.module('FileManagerApp').config(['fileManagerConfigProvider', function (config) {
      var defaults = config.$get();
      config.set({
        appName: 'Document Management System',
          //appName: 'angular-filemanager',
        pi

[2016-06-25 15:49] itdotnet commented on #82
@sachendrapal
what things?!
I thank you for your help

[2016-06-26 17:57] joni2back commented on #82
Hi @itdotnet
Are you using a backend server to have a connector for the filemanager?
Please, open your browser developer tools, and let do a screenshot in the ajax response...

[2016-06-27 11:13] itdotnet commented on #82
hi @joni2back
i just used script files As mentioned in the documentation in visual studio and I run the project.
I have attached the output you

[2016-06-27 11:24] itdotnet commented on #82
![capture](https://cloud.githubusercontent.com/assets/20128916/16378140/5c7b1dd0-3c7f-11e6-86b8-679122c51046.JPG)

In addition, error in the FileZila to be shown

[2016-06-27 12:27] joni2back commented on #82
Hi, seems dont have the backend running well..

Are you really using an apache/nginx server..?

[2016-06-27 13:25] itdotnet commented on #82
my project run in visual studio. how to i use apache server?!
I start Apache on xampp. but i dont know how to sync the two together.
apache service port changed my desired Because it was interfering.

[2016-06-27 13:32] joni2back commented on #82
@itdotnet If you have installed PHP, you can open a console in angular-filemanager folder then run
```php -S0.0.0.0:8000```

[2016-06-28 09:40] waleeddbnet opened #164 "The files physically uploaded but not showing it give me "No files in this folder""
I am running the site using IIS 7 on windows server the files already uploaded and i can create the folder but it not show up.

![angularfm](https://cloud.githubusercontent.com/assets/12536669/16410951/7c5ea262-3d2d-11e6-8d59-13f61f850e23.png)

[2016-06-28 12:27] joni2back commented on #164
Hi @waleeddbnet which bridge are you using?

[2016-06-28 13:43] waleeddbnet commented on #164
PHP > handler.php

[2016-07-05 13:42] CodeLyokotEAM opened #165 "Can you improve some futures?"
You can get ideas from,
https://github.com/Studio-42/elFinder
Its a php file manager.

[2016-07-06 10:09] gsampath127 opened #166 "How to Integrate with mongoDb , node and angularJS"
Hi i want to develop a document management system in my app. I found this **angular-filemanager** which looks pretty awesome.\

But i need to develop this using MongoDB , Node and angularJS. Can you please provide any suggestions or steps to integrate this.

[2016-07-06 12:29] joni2back commented on #166
Hi @gsampath127
To create your own bridge (backend connector)
You should read the [API docs](https://github.com/joni2back/angular-filemanager/blob/master/API.md) to catch data in the front-end side.

Then you should override the configuration of the app putting this script in the root HTML document, in order to customize the Url's and enabled functions..

Example:
[code]

[2016-07-06 13:47] joni2back commented on #165
Hi @CodeLyokotEAM thank you for your suggestions, will take into account that suggestions!

[2016-07-06 13:47] #166 closed

[2016-07-11 17:04] Grilly opened #167 "How to use the pickCallback of the filemanager within an angular app?"
Hi,

I included the filemanager in my app. The file browsing functions work like expected but I can't get my head around the pickCallback.
Is there any further documentation how to use the pickCallback? Well in the example you opened a window.alert and accessed the item properties but how can I trigger showing a modal dialog of ngDialog with my own scope?
Through the pickCallback I want to open a

[2016-07-11 17:22] durasj commented on #167
Hi,

pickCallback was meant to be used little bit differently in the situations when you are running angular-filemanager alone and using it ie. as file manager for TinyMCE. That way you can call JS function (global attached at window or anonymous) taking care of filling the file field etc.

I think that in your situation attribute with callback would be more appropriate (which is not implemented a

[2016-07-11 23:43] joni2back commented on #164
Hi... If you are running a FTP on Window server, try to disable the passive mode...
You will need to modify the handler.php file with:
[code]

[2016-07-11 23:43] #164 closed

[2016-07-11 23:54] joni2back commented on #167
Hi @Grilly when you use pickCallback, in your particular situation, you can create an event to catch it in your own app...

For example
[code]

[2016-07-12 00:28] #158 closed

[2016-07-12 00:28] #157 closed

[2016-07-16 00:20] md2k opened #168 "Feature Request: Upload / Create Folder button"
Hi @joni2back, while you design is awesome (after i spent several hours looking something useful for remote file management over web), i'm personally not really like when buttons upload/Make folder are hidden far right side under drop-down menu.
I think for High resolutions screens it nicer to have it much closer to area where usually you work with files, while for mobile/tablet view most probably

[2016-07-16 17:26] joni2back commented on #168
Hi @md2k yes, I will take into account this suggestion for next release!!

[2016-07-17 11:52] md2k commented on #168
Thanks.
Mean while, i did required changes to [Go Provider](https://github.com/kernel164/gofe) and now it able to work with version 1.5 of your interface and higher, not all API functions a ready yet, but most of them [fixed version](https://github.com/md2k/gofe)
I did pull request to original owner of that project, but no idea if he still interested in support of that provider, so if any one want

[2016-07-17 12:07] md2k commented on #168
@joni2back one more request/suggestion is to add api and its button representation to interface for LogOut if backend supports authorization , while login page can be done separately from main interface, logout button should be injected to interface , and i think it will be nicer if you will do it similar to all your features which can be enabled or disabled if needed.
Thanks in advance :)

[2016-07-18 08:53] md2k commented on #168
Here is Ready for Use compiled version for Linux: https://github.com/md2k/gofe/releases/tag/0.1

[2016-07-20 19:49] andreipot commented on #24
Hello @joni2back  I implemented drag & drop for angular file manager. How can I contribute this work to ur main repo?

[2016-07-20 19:50] andreipot commented on #24
I completed multi file selection, drag & drop on tree views as well @joni2back

[2016-07-20 20:30] joni2back commented on #24
Hi @andreipot this is great notice!!
Could you create a pull request to the project or send me in zip by email (in my profile)..
Regards!!

[2016-07-20 20:36] andreipot commented on #24
ok @joni2back  I did it in my own project so  I will add them to original angular file manager and make PR. would be great if you take time to review it.

Thanks!

[2016-07-20 20:37] joni2back commented on #24
Sure @andreipot , I'll hope for that. Regards

[2016-07-21 17:59] wiiliam opened #170 "POST err500 with angularjs"
I've updated FTP credentials in handler.php (except for the hostname field), made the configuration point to php-local in index.html, and for some reason, the only thing I have is read access to files and nothing else.

![rename-error](https://cloud.githubusercontent.com/assets/8944799/17033284/488289d8-4f32-11e6-87ac-3445e6e39232.png)

![2016-07-21-174845_1366x768_scrot](https://cloud.githubuserc

[2016-07-22 14:09] joni2back commented on #170
Hi @wiiliam seems you are using php-local connector instead php connector (that is for ftp use)

[2016-07-22 17:43] wiiliam commented on #170
Ahh. Thank you for pointing that out.

[2016-07-22 17:43] #170 closed

[2016-07-22 18:04] wiiliam commented on #170
@joni2back Although renaming, deleting and such works now, I'm unable to change the permissions and for some reason, the menu from the three dots turned into a blank bar as shown below:
![2016-07-22-110408_189x63_scrot](https://cloud.githubusercontent.com/assets/8944799/17066471/0c127d12-4ffc-11e6-99cf-601d94931fc3.png)

[2016-07-22 18:40] joni2back commented on #170
Seems so weird... Could you create a PR with your changes to check it ?

[2016-07-24 17:53] andreipot commented on #24
hello @joni2back  I've created PR. can you please check? Thanks.

[2016-07-27 18:49] dmphub01 opened #177 "click on create folder redirect to homepage url"
I faced the issue click on create a folder open model pop up and page url are redirect to home url  like

http://localhost/dashboard/#/app/pages/datafiles   file manger page  in click on create folder url changed to home page url  http://localhost/dashboard/#

 please help..
suribabu

[2016-07-27 20:24] mrwogu commented on #177
Hello,
it has been fixed in https://github.com/joni2back/angular-filemanager/commit/d2eaa489073b037afc946cdc4fd0f6c0ca4cfe37

[2016-07-28 03:40] joni2back commented on #177
Yes, thanks @mrwogu
@dmphub01 This is fixed in master branch, you will need to refresh the repo or wait for the next release

[2016-07-28 03:40] #177 closed

[2016-07-28 07:45] dmphub01 commented on #177
Hi mrwogu

Thanks, now working fine.

[2016-07-28 12:32] joni2back commented on #167
Hi @Grilly we are interested if our workaround to solve your doubt works..
Or if you find another way to do that, could you give more details?

Regards

[2016-07-28 12:32] joni2back commented on #163
Hi @durasj, is that solved to close?

[2016-07-28 12:33] joni2back commented on #160
Hi.. @jrondorf this happens with php (ftp bridge) or php-local bridge?

Regards

[2016-07-28 12:40] joni2back commented on #160
Hello @durasj !
I tested in php bridge and works well, maybe your bridge have a encoding issue with some characters.
Did you try to use some utf8_encode(), mb_convert_encoding() functions to parse filename?

Regards

[2016-07-28 13:12] jrondorf commented on #160
Hi, with PHP Local Bridge.

[2016-07-29 03:15] liul opened #178 "icons/table view never changes after a navigating error happens"
Hi.

When a navigating error happens (e.g. the backend bridge responses a 500 error when requested listing some dir), the FileNavigator.error is set to some string ( by default, "Unknown error listing, check the response" ). However, the FileNavigator.error is never set back to empty string ("") even when a status 200 action happens afterwards, thus causing the icons/table view sticks with the mes

[2016-07-30 06:26] dmphub01 opened #179 "folders are not showing properly and loader is showing"
Hi ,

File manager is working good  when integrating separately. When i include in my project , folders are not showing properly and loader showing along with folders and tree view  and navigation are showing side by side . Search bar also showing without selecting , Finally showing hide elements.

I tried other scripts are commented and app.js in some functionality commented , please help

![issu

[2016-07-30 11:30] durasj commented on #160
Hi guys,

unfortunately I can't look at it in the near future as I have too much work. Please, feel free to look at it.

Thank you very much

[2016-07-30 11:42] durasj commented on #163
Hi @joni2back ,

I think it's not. I was not able to test it. I hope someone else will be able to take a look at it.

Thank you!

[2016-07-30 20:54] jrondorf commented on #160
If you are able to point me to a place in the source code, I can have a look. This is an important functionality, which I need. Thanks.

[2016-07-31 05:11] NetbearSoftware opened #180 "Ability to download or preview files by ID"
Hi,

Firstly, thank-you for a great library!

It would be very useful if we could supply an ID attribute from list and then trigger downloads or previews from this ID, rather than having to do a lookup on the server of the current path.

[code]

Is there any plans to put this on the roadmap?

Thanks,
Tim

[2016-08-01 08:10] Nevario opened #182 "Callback on initialisation finished"
Hello,

I wish to modify parts of angular-filemanager, but need some sort of callback or listener of when it is completely loaded.

Does such a callback function exist or could it be easily implemented?

Thanks,
Tim

[2016-08-01 08:20] NetbearSoftware opened #183 "Namespace or prefix CSS styles to prevent clashes with projects using bootstrap"
Hello,

When I included angular-filemanager in my project I had big issues with it overwriting some styles used by bootstrap and other CSS libraries.

In the end I had to prefix all angular-filemanager styles, eg `#fileManagerApp .sidebar {}`. Not very good.

Could you please consider adding prefixes to elements of bootstrap that are customised for angular-filemanager.

For example

[code]

Then a

[2016-08-01 08:22] NetbearSoftware commented on #179
It looks like a clash with other CSS styles in your project.

I had big issues including angular-filemanager in my project as it overwrites some bootstrap files, and can be overwritten by other CSS libraries depending on the order of inclusion.

I wrote up a ticket #183 to see if this could be improved.

Perhaps you could post a link to your project so we can debug?

Tim

[2016-08-01 10:03] dmphub01 commented on #179
Hi Netbear

Thank You Very much , Solved the Issue .

Thanks
Suribabu

[2016-08-01 12:17] joni2back commented on #182
Hello @NetbearSoftware first of all, thank you very much for your participation in this project.

Which kind of "initialization" are you talking? (Dom?, Ajax?)

[2016-08-01 12:21] peastuti commented on #82
I'm having a 500 internal server error. I edited /bridges/php/includes/Ftp.php.
Angular-Filemanager runs on my debian server with apache2 server at https://ws.peastuti.com/angular-filemanager/ with this config

[code]

[2016-08-01 12:33] NetbearSoftware commented on #182
Hi @joni2back,

In this particular instance I want to modify the title shown in navbar-brand, so I guess DOM.

My exact use case is that I'm loading up angular-filemanager within a remote modal, and I want to inject event titles from the parent page, into the angular-filemanager heading.

Tim

[2016-08-01 13:14] joni2back commented on #82
Hi @peastuti , could you give the php error log for this error 500?
you could add this in the ftp.php code

error_reporting(E_ALL); ini_set('display_errors', E_ALL);

[2016-08-01 13:20] peastuti commented on #82
Nothing happens, here a screenshot
<img width="1228" alt="schermata 2016-08-01 alle 15 18 31" src="https://cloud.githubusercontent.com/assets/18187660/17295227/5f2936e2-57fb-11e6-903d-5d6eaac1b658.png">

[2016-08-01 17:40] joni2back commented on #82
@peastuti You should check the PHP error_log of this server in order to know that error...

[2016-08-01 17:43] peastuti commented on #82
`[Mon Aug 01 13:39:48.648549 2016] [:error] [pid 25283] [client 181.90.121.159:10121] PHP Fatal error:  Class 'AngularFilemanager\\LocalBridge\\stream' not found in /var/www/ws.peastuti.com/public_html/angular-filemanager/bridges/php-local/LocalBridge/Rest.php on line 167
[Mon Aug 01 13:39:54.421605 2016] [:error] [pid 25202] [client 181.90.121.159:10122] PHP Notice:  Undefined index: action in /v

[2016-08-01 23:29] NetbearSoftware commented on #180
This would probably also be useful for deleting files.

Currently, there is nothing stopping anyone uploading two files with the same name to a folder. This means when we request the API to delete the file using only the name, the server may delete the wrong one...

How are others dealing with this?

Tim

[2016-08-02 01:23] NetbearSoftware commented on #79
Is the intention to still allow the use of Angular's built in jQuery (jqLite) or go completely native?

[2016-08-02 02:08] joni2back commented on #79
@NetbearSoftware I tried to move to angular bootstrap but I don't like how it interact with the dom... But this is to take into account.. I'll very appreciate a contribution with this ticket

[2016-08-02 11:07] dmphub01 opened #184 "How to upload files from google drive , drop box and box"
Hi,

The angular file manager is working Good, you are provided amazing library that features are Good,
I have tried to integrate upload files from google drive, drop box and box but that is not working , Please let me know how to integrate upload file from the tools .Thanks in Advance

Thanks
Suribabu

[2016-08-02 12:30] joni2back commented on #184
Hi @dmphub01, the idea of this project is to provide the front-end interface so, if you want it to use with a custom service, you will need to create your own backend bridge following this **[API documentation] (https://github.com/joni2back/angular-filemanager/blob/master/API.md)**.

[2016-08-02 12:30] #184 closed

[2016-08-03 14:19] durasj commented on #160
Hi @jrondorf,

here it is: https://github.com/joni2back/angular-filemanager/blob/master/bridges/php-local/LocalBridge/FileManagerApi.php#L345

Also manual page for chmod and it's comments could be useful: http://php.net/manual/en/function.chmod.php

Thanks

[2016-08-04 09:10] durasj commented on #160
@joni2back you are absolutely right. Sorry about that, I've been quite busy lately.

I am afraid I can point you in this case as it will probably require changes all over the code.

[2016-08-04 09:15] jrondorf commented on #160
So isn't there just one place where you are uploading files, where the filename can be checked?
Of course in addition also the download/viewing of files has to be adapted, but upload of new files is more important.

[2016-08-04 09:18] durasj commented on #160
My code is pretty straightforward. All the important logic is happening in the FileManagerApi.php file within *Action methods like [uploadAction](https://github.com/joni2back/angular-filemanager/blob/master/bridges/php-local/LocalBridge/FileManagerApi.php#L206)

[2016-08-04 12:29] #179 closed

[2016-08-05 09:28] itdotnet commented on #82
I've received this error now:
Error 200 - Bridge response error, please check the API docs or this ajax response

[2016-08-08 00:45] NetbearSoftware commented on #180
@joni2back I've been working with an angular developer to implement this feature in my application.

I'd like to share the solution for consideration to be added into the project. Some 'breaking' API changes have been made. For example, to remove one or more files has changed from:

[code]
to

[code]

Therefore, could you please make a new branch so that we can run tests and provide fixes for the

[2016-08-10 10:02] nmeegama opened #186 "Upload action not available message when uploading file"
Hi I am getting a message as follows when I setup and try to upload a file
<img width="1440" alt="screen shot 2016-08-10 at 3 28 01 pm" src="https://cloud.githubusercontent.com/assets/1736109/17549752/6dce7c64-5f0f-11e6-8e3f-a9c434395db3.png">

I noticed that the $_FILES global array is empty on the handler.php file. Anything I am doing wrong

[2016-08-10 17:19] samkho10 opened #187 "This action is not available in the demo"
Hi,

I have been trying to use the PHP FTP bridge for the past couple of weeks but I keep running into the following error on my browser:

{"result":{"success":false,"error":"This action is not available in the demo","errorDetail":{"type":"Exception","code":0}}

You can find a link to my GitHub project [here](https://github.com/samkho10/angular-filemanager). Any help would be much appreciated 😄

[2016-08-10 19:48] joni2back commented on #187
Hi @samkho10 this is because GET requests are not parsing from controllers..

[2016-08-10 19:48] #187 closed

[2016-08-11 01:57] nmeegama commented on #186
Solved the issue by creating a actual virtual host with my web server (Nginx). Previously I was using the host generated by PHP Storm (IDE). Now its working fine.

[2016-08-11 01:57] #186 closed

[2016-08-12 17:41] flatoures opened #188 "Thank's comments"
Hi guys,

I was trying to find the place to say a big thanks to you.
Awesome features in open source, better great it's good (Joe's big up).
So many useful plan for it.

Keep going for all of us

[2016-08-22 16:52] insideseed opened #189 "upload files from drop box"
Hello,

The file manger functionality is awesome, I tried to integrate Dropbox API ,  But i integrated separately Dropbox API is working fine .
I tried the dist/angular-filemanager.min  file integrate the this drop-box api please help how to integrate the Dropbox api in angular file manager .

Below Api Code:
app.js

app.config(['DropBoxSettingsProvider', function(DropBoxSettingsProvider) {

[2016-08-25 12:20] jbabaei opened #190 "config service urls"
hi.i want use angular-filemanager in .net.
i need config service urls to work it correctly.
thanks

[2016-08-25 12:31] joni2back commented on #190
Hi @jbabaei please read the docs.

You will need to put this in your index file (or template that uses `<angular-filemanager/>` directive)

[code]

[2016-08-25 12:31] #190 closed

[2016-08-25 12:39] nmeegama opened #191 "Error on gulp build"
Hi I m  getting the following error when i do a gulp build

[17:55:24] Using gulpfile ~/work_repo/angular/ceb/angular-filemanager/gulpfile.js
[17:55:24] Starting 'clean'...
[17:55:24] Starting 'lint'...
[17:55:24] Starting 'cache-templates'...
[17:55:24] Starting 'minify-css'...
stream.js:74
      throw er; // Unhandled stream error in pipe.
      ^

TypeError: Path must be a string. Received [ '/

[2016-08-25 23:13] nmeegama commented on #191
Changed cache-templates gulp task code
return tplPath + '/' + path.basename(file.history);

to

return tplPath + '/' + path.basename(file.history[0]);

and its working

[2016-08-27 13:10] jbabaei opened #193 "large file upload doesn't upload"
hi.

i can't upload 300Mb file

[2016-08-29 15:08] dmphub01 opened #195 "SFTP Details are not working in PHP Bridge"
Hello ,

I used Amazon  server , I have SFTP details only with Host name, Username and Password But the SFTP details are not working in PHP  Bridge .
I am getting Error "Cannot connect to the FTP server", Please Help how can use SFTP details .

Thanks
Suribabu

[2016-08-29 22:42] joni2back commented on #195
Hi @dmphub01 you will need to modify the bridge or create your own sftp brige.
Maybe this can help you http://php.net/manual/es/function.ssh2-sftp.php

[2016-08-29 22:42] #195 closed

[2016-08-29 22:43] joni2back commented on #193
Hi @jbabaei you should check the backend server configuration and maybe modify the backend bridge to support that kind of filesizes

[2016-08-29 22:43] #193 closed

[2016-08-29 22:44] joni2back commented on #191
Hi @nmeegama seems it is a version problem. I will updating npm modules soon

[2016-08-29 22:44] #191 closed

[2016-08-29 22:45] joni2back commented on #189
Hi @insideseed to connect angular-filemanager with dropbox I recommend you to create your own bridge using the Dropbox API. Not by javascript.

[2016-08-29 22:45] #189 closed

[2016-08-29 22:46] joni2back commented on #188
Haha @flatoures thank you very much!

[2016-08-29 22:46] #188 closed

[2016-09-05 13:19] jbabaei commented on #147
@joni2back i need this feature too.

plz reopen this issue and help us

[2016-09-06 12:03] dmphub01 opened #198 "PHP bridge in I tried to implement the SFTP functionality"
Hi
I created the bridges/php/includes in sftp.php file. In sftp.php file sftp connection, login and upload file code and I integrated and included classes in the handler.php , Please give the guidance how can i implemented SFTP functionality or which locations in used sftp connections code .

Thanks In Advance

Thanks
Suribabu

[2016-09-09 00:14] AminaG opened #199 "Where is the node bridge?"

[2016-09-09 13:20] stefanoborini opened #200 "Documentation takes too much for granted"
The code and the overall aspect of the application is great, but the documentation is not clear enough to reach a simple starting point. There's no clear explanation of the bridges and what you have to do to make them run. I think that basic instructions to perform a successful "clean room" deployment is needed, especially if you don't have experience at all in web development.

For example, it's

[2016-09-19 05:43] ztz0223 commented on #199
I have wrote a nodejs/express server via the MEANJS, but I modified a lot from the original file-manager, if needed, please refer to my profile.

[2016-09-27 06:41] Nestad commented on #152
Hi together,

I'm still getting this problem and i reed now all comments i can find but nothing help.

I want to include the angular-filemanager in a VS2013 Project with already existing aspx-Pages. I already installed Phlanger 4.0 too be able to use php. I add a new aspx file without master page and add the code.

Steps what i have done:
1. Install like meantioned in documents
2. Changed index.ph

[2016-09-28 13:08] Punksolid opened #204 "Upload button does not activate"
When using the php-local bridge reads good the files but when uploading, the modal opens, I select a file and the upload button keeps disabled.
But, if I clic again in the "select files" button makes a request to the server and saves the file.
It is a bad configuration that I'm missing?

Tested with apache and the build in server, here is the basic implementation
http://doctorassistant-dev.us-west

[2016-09-28 23:50] jesuscmd commented on #152
Hi, I worked with an important detail, there is two places where you must set the FTP credentials:

1. handler.php line 148
2. includes/Ftp.php line 14

This make everything works fine!!!

[2016-10-03 08:06] DmitriyIlyushchenia commented on #183
Same thing. Using Filemanager with Bootstrap-based dashboard - both of them become crashed.

[2016-10-08 13:07] unbreakabl3 commented on #155
Hello everyone.
Can you help me please?
ifI just want to use a for example "/tmp/myfiles" folder as my local folder to store files, what exactly i need to change in "index.html" to start use this folder instead default FTP?

Thank you very much!!

[2016-10-08 13:55] unbreakabl3 opened #205 "Documentation: Configuration and Installion"
Hello everyone.
Can you help me please?
if I just want to use a for example "/tmp/myfiles" folder as my local folder to store files, what exactly i need to change in "index.html" to start use this folder instead default FTP?

There is no any information I can find and I can't understand after reverse engineering, how to do it... :(

Thank you very much!!

[2016-10-11 03:34] tanobi92 opened #206 "How to config angular filemanager for .net MVC?"
I want to use angular filemanager for project .net MVC. Can you help me? Thanks!

[2016-10-11 15:24] joni2back commented on #206
Hi @tanobi92 you will need to create your own backend connector / bridge.
Then extend the config to set the service urls for each action.

Create the service following this api docs https://github.com/joni2back/angular-filemanager/blob/master/API.md

[2016-10-11 15:24] #206 closed

[2016-10-11 17:07] durasj commented on #200
Hi @stefanoborini,

I agree that the documentation could be better and some out-of-the-box working configuration would be in my opinion preferable.

@joni2back I am quite busy, but I think I could ie. rewrite the default configuration so that it would use local bridge and would be fully preconfigured so the user would only upack the archive and open the manager in the browser. I would also add som

[2016-10-22 16:01] jbabaei opened #208 "large file Upload"
i got this error when i upload a 15MB file or larger.

1. net::ERR_CONNECTION_RESET(anonymous function) @ angular.js:12011sendReq @ angular.js:11776serverRequest @ angular.js:11571processQueue @ angular.js:16383(anonymous function) @ angular.js:16399$eval @ angular.js:17682$digest @ angular.js:17495$apply @ angular.js:17790(anonymous function) @ angular.js:25890defaultHandlerWrapper @ angular.js:3

[2016-10-25 17:05] joni2back commented on #208
Hi @jbabaei The backend of our demo is limited to ~2mb for file uploads.
By the way I will take into account the error for this closed connection response.

Thanks.

[2016-10-25 17:05] #208 closed

[2016-10-31 15:26] slime7 opened #211 "Is there a way to go back parent folder in mobile ?"

[2016-10-31 16:55] joni2back commented on #211
This is a bug, thanks for reporting

[2016-11-01 17:34] joni2back commented on #178
Hi.. this is fixed now. Thanks!

[2016-11-01 17:34] #178 closed

[2016-11-02 12:53] #211 closed

[2016-11-02 12:54] joni2back commented on #211
Fixed in master, thanks.

[2016-11-02 16:02] #167 closed

[2016-11-04 16:59] ipppinto opened #212 "Download by button"
Hi,

Thank you for you work. Is great!

It's possible to list the files in list by default?
In list mode, It is possible to put a button in front of each file to download?

Thank you

[2016-11-04 18:30] ipppinto opened #213 "Zip file is invalide"
Hi,

When I download a file as zip in windows I can't open (the error is the folder is invalid).

Thank you

[2016-11-04 18:31] ipppinto commented on #213
It's happen to me in http://angular-filemanager.zendelsolutions.com/ too.

[2016-11-06 11:19] #212 closed

[2016-11-06 12:05] ipppinto opened #214 "Extract zip error"
Hi,

I have this error when I extract a zip. Anyone have this error?

![snap 2016-11-06 at 11 59 02](https://cloud.githubusercontent.com/assets/6302542/20037514/7add6804-a418-11e6-8666-484c9a820757.jpg)

**Headers from console:**

Request URL:http://admin.pt/filemanager/bridges/php/handler.php
Request Method:POST
Status Code:500 Internal Server Error
Response Headers
view source
Connection:keep-al

[2016-11-06 12:13] ipppinto opened #215 "Download multiple zip invalid"
When I download multiple files with zip the file downloaded in invalid when I try open.

Anyone can help me?

[2016-11-07 20:38] joni2back commented on #214
Hi... this feature is not implemented in the demo bridge... You will need to write your own.
Remember that the php connector is only to run the demo..

[2016-11-07 20:38] #214 closed

[2016-11-07 20:39] joni2back commented on #215
Hi... this feature is not implemented in the demo bridge... It is only downloading an empty ZIP file.

You will need to write your own.
Remember that the php connector is only to run the demo..

[2016-11-07 20:39] #215 closed

[2016-11-07 20:39] joni2back commented on #213
Hi... this feature is not implemented in the demo bridge... You will need to write your own.
Remember that the php connector is only to run the demo..

[2016-11-07 20:42] joni2back commented on #212
Hi

to change the default view you will need to change main.js controller with this

[code]
to this
[code]

For the second question.. this kind of buttons was in the old template.. was changed for user experience improvement. If you really want to do it, you will need to change in the template file

[2016-11-07 20:42] #213 closed

[2016-11-08 06:27] liul opened #216 "Path generated wrong when using $scope.select"
When selecting copying or moving destination, e.g. the selected destination is "/data/2016", in selector-controller.js
[code]
the $rootScope.selectedModalPath is ["", "data", "2016"], then in apimiddleware.js
[code]
the path becomes "//data/2016", an extra "/" is added.

[2016-11-08 06:40] liul commented on #216
A quick fix would be  #217

[2016-11-10 02:17] happystory opened #218 "Where is the python bridge?"
Thanks a lot!

[2016-11-10 07:49] gordol commented on #218
I've been very tempted to put one together that uses Mongo's GridFS with a Python middleware, but will need to build directory and permissions abstractions. It seems to me though that this thing is sorta more geared towards something like an FTP server, exposed over the web.

[2016-11-14 22:38] stefanoborini commented on #204
I confirm having the same problem.

[2016-11-19 05:10] kieutrongthien opened #220 "CHMOD FTP in handler.php"
I try to add chmod feature to handler.php, but when i change permission, Request::getApiParam('perms') is blank, like this:

`
$perms = Request::getApiParam('perms');
...
throw new Exception("Unknow Error: " .$errors);
`

Output:

So how i can fix this @@!, i think this error from angularjs but i'm not good use angularjs.

[2016-11-20 08:50] Legoman99573 opened #221 "Removing failed, the directory you are trying to remove is not empty"
I was trying to remove a directory from the server and i get this error. I can delete it locally, but not in the filemanager, anything not right with it because i use it when i am not at the server to edit locally and plan on using it more as it seems more efficient and does what i need, and thanks for this tool and it being lightweight and can make some workaround with the changes. 👍.
![2016-11-2

[2016-11-20 18:27] Legoman99573 commented on #221
basically a summary is it wont delete a folder for some reason if its full.

[2016-11-21 19:03] joni2back commented on #221
Hi @Legoman99573 which bridge are you using? php(ftp) or php-local?

[2016-11-21 23:39] Legoman99573 commented on #221
php-local

[2016-11-30 02:25] xiongyihui commented on #218
just write one, see https://github.com/joni2back/angular-filemanager/pull/222

[2016-11-30 14:06] #218 closed

[2016-12-01 14:16] logtron opened #223 "Error opening TXT-Files with ISO-8859-2"
Hello Angular-Filemanager Team,

having Problems with showing Files with encoding ISO-8859-2 that contains (äöüÄÖÜß)
After change encoding (iconv -f ISO-8859-2 -t UTF-8 Input.txt -o Output.txt)
we can open Output.txt in Filemanager.

Thanks
![2016-12-01 15_21_27](https://cloud.githubusercontent.com/assets/19145058/20797190/034a743c-b7da-11e6-8ed2-093d37de825b.png)

[2016-12-03 19:00] anexit1 opened #224 "Ipad/Iphone"
The "right click" is not working for apple (iphone7 and ipad pro).  After selecting the folder and holding down on the folder no, response.

[2016-12-06 14:40] anexit1 commented on #224
I was able to fix this by creating a menu with selections.

[2016-12-06 14:41] anexit1 commented on #224
For example you can add this to the drop down menu;

<li ng-show="singleSelection() && singleSelection().isFolder()">\r\n  <a href="" tabindex="-1" ng-click="smartClick(singleSelection())">\r\n <i class="glyphicon glyphicon-folder-open"></i> {{\'open\' | translate}}\r\n </a>\r\n     </li>\r\n\r\n    <li ng-show="config.pickCallback && singleSelection() && singleSelection().isSelectable()">\r\n <a

[2016-12-06 15:50] anexit1 opened #225 "Compress as ZIP issue"
I've been getting the following error;

{ "result": { "success": false, "error": "Function not implemented" } }

Does this probe php zip extension I assume?

[2016-12-08 15:17] logtron commented on #223
Dirty little hack for bridges/php/handler.php to handle non UTF-8 Files
(all non UTF-8 Files are handled as ISO-8859-2 Files).

[code]

[2016-12-15 19:30] GlauberF opened #227 "Angular 2"
Hello, I really liked your work, would you have this same project in angular 2 or vue.js?

[2016-12-17 07:01] dun89r opened #228 "download issue"
Hi, Thanks for you work. It's awesome!

I tried this, and it's work fine except the download and view item. When i hit the download, it just open new window with link http://localhost/filemanager/bridges/php/handler.php?action=download&path=%2Ffolder1%2Fimage.jpg and nothing downloaded. Is there something that i missed?

thanks in advance

[2016-12-23 09:15] hnxuan commented on #228
please check "php.ini"setting.

extension=php_bz2.dll
extension=php_curl.dll
extension=php_fileinfo.dll
extension=php_gd2.dll
extension=php_gettext.dll
;extension=php_gmp.dll
extension=php_intl.dll
;extension=php_imap.dll
;extension=php_interbase.dll
;extension=php_ldap.dll
extension=php_mbstring.dll
extension=php_exif.dll      ; Must be after mbstring as it depends on it
extension=php_mysql.dll
e

[2016-12-23 09:15] hnxuan commented on #228
@dun89r
please check "php.ini"setting.

extension=php_bz2.dll
extension=php_curl.dll
extension=php_fileinfo.dll
extension=php_gd2.dll
extension=php_gettext.dll
;extension=php_gmp.dll
extension=php_intl.dll
;extension=php_imap.dll
;extension=php_interbase.dll
;extension=php_ldap.dll
extension=php_mbstring.dll
extension=php_exif.dll ; Must be after mbstring as it depends on it
extension=php_mysql.dl

[2016-12-23 14:00] IliyanKafedzhiev opened #229 "Unresponsive on iPhone with Safari browser"
Unresponsive on iPhone with Safari browser. You can not access any folder or file with double tab gesture.

[2016-12-26 23:42] mkeyno opened #230 "raspberry pi media server"
sorry guys to open ticket for my question , but I'm trying to let my raspberry pi connected client, share media files from storage connected to raspberry pi , I've already install NAS server but its not beautiful as your file manger lib , can you advise me how to use your lib for such media server

[2016-12-29 12:36] joni2back commented on #229
Hi @IliyanKafedzhiev
Cannot reproduce.

Which iPhone? Which version of Safari?

[2016-12-29 12:39] joni2back commented on #230
Hi.. You will need to install an apache or nginx server on your raspberry (of course with php).

Also you can do it only with php built server (for dev purposes) http://php.net/manual/en/features.commandline.webserver.php

[2016-12-29 12:39] #230 closed

[2016-12-29 12:39] joni2back commented on #227
Hi @GlauberF .
Not yet.

[2016-12-29 12:39] #227 closed

[2016-12-29 12:41] joni2back commented on #223
@logtron thanks for report this.

[2016-12-29 12:41] #223 closed

[2016-12-29 12:48] GlauberF commented on #227
Could you tell me, how could I login to it using jwt?
Another detail I noticed, it sends 2 requests, one OPTION and another GET, it only takes the result of the first one, which does not return anything.
The second, which is the GET request, is returning the directory all right

[2016-12-31 03:11] zrisher commented on #199
:+1:

[2017-01-05 14:43] IliyanKafedzhiev commented on #229
We can reproduce it on every device that we have, for example you can try with
iPhone 6 Plus, 10.1.1
iPad Pro, 10.1.1

[2017-01-05 19:52] ztigr commented on #82
Hi,
I'm getting the same error on 000webhost, but I noticed when I took out the width and height specifications from my css statement, the error went away?

[2017-01-06 13:55] GlauberF opened #231 "JWT authentication"
How can I use JWT authentication in the project, before to get to the dashboard, go through a login?

[2017-01-06 21:00] markSbrandt opened #232 "can you add this to npm"

[2017-01-10 03:34] VIPINSAINI17 opened #233 "Need help to run code locally"
Hello ,

This is best fit for my requirements , However I am not able to run this code locally.
I need your help to setup locally.

Thanks in Advance .
Vipin

[2017-01-12 13:23] anexit1 commented on #229
Same here, IOS 10 seems to be the issue.

[2017-01-13 10:19] durasj commented on #200
Hi @joni2back,

have you please considered my suggestions?

There is bunch of other issues like this one: #233, #205.

My mentioned changes should significantly help as it would work out of the box.

Thanks

[2017-01-15 15:28] voosam opened #234 "how to run angular-filemanager php-local styep by styep?"
Please help me in how to run angular-filemanager by **php-local** on my vps step by step
It's very important

[2017-01-18 12:27] joni2back commented on #234
Hi @durasj , can you explain how work your bridge?

[2017-01-19 11:43] davistan commented on #79
@joni2back can try using angular approach like https://github.com/Wildhoney/ngContextMenu

[2017-01-19 20:57] Ericky14 opened #235 "How to run angular-filemanager in Ember?"
I have been trying to run angular-filemanager in Ember for the past few days. But I haven't been so successful, probably because I have barely any knowledge of Angular. So, I was hoping someone could help me. (This might also be a bug with the addon itself)

On Ember, I created a component to contain angular-filemanager and I added methods with path '/admin/file/' that return true just to be place

[2017-01-20 00:00] nicklosh commented on #235
I'm having the same issue.

It turns out that the $http legacy promise methods `success` and `error` have been deprecated.
The solution I found is to replace.

`.success(function(response)` with `.then(function successCallback(response)`
and
`.error(function(response)` with `.then(function errorCallback(response)`

[2017-01-20 03:07] Ericky14 commented on #235
Do you mind if I ask you exactly how you implemented it?

After I changed those methods like you said, the filemanager displays, but it appears to have no css.
I imported all the the assets in the ```ember-cli-build.js``` file with ```app.import(...)```.

Also, I changed the POST request to return one of the examples in the backend API docs for the list, but it still gives me an error ```Error und

[2017-01-21 23:25] inlakin opened #237 "How to embed angular-filemanager into an existing page"
Hi,

Thanks for the plugin, it is great, and exactly what I was looking for :)

However, I don't want to have a fullpage with it but rather embed it  into an existing webpage of mine. The idea is to allow visitors to check, download and upload file to the server (as you might imagine).

I started an simple project without bower nor anything. Just plain html, css and angular (no seed).
Therefore I

[2017-01-31 02:11] joni2back commented on #229
Thanks, I'll be testing with it

[2017-01-31 14:04] CodeLyokoXtEAM commented on #229
also there is another bug.
https://github.com/joni2back/angular-filemanager/issues/165

[2017-02-05 09:30] durasj commented on #234
Hi @joni2back,

I would like to do it as part of #200. I don't think it makes sense to explain it over and over again in issues. Can you please take a look at that one?

Thanks

[2017-02-08 13:26] hzlclock opened #240 "doesn't work on iPhone"
I consider it as a bug in iPhone's safari.
When I want to right click a file, I try to hold the item. But in both iOS simulator (iOS10.0) and real iPhone6(iOS10.2), they don't respond to my action.
When I double click a file, iPhone think I want to zoom. Although I added no-scalable to viewport, it zoomed.
Both bugs exist in iPhone Chrome as well.
Everything works fine in my Nexus, so I think this

[2017-02-10 12:52] vstock28021 opened #241 "Integration into Existing Project"
I'm working with a Hosting Control Panel called VestaCP. They have a paid for addon for a file manager however I would like to integrated Angular-FileManager into it for the end users. Is there away to have it automatically default to the users ~ based on the username they are signed into the control panel with?

[2017-02-10 18:03] joni2back commented on #241
Hi @vstock28021 this project started for the same requirement that you have.
The answer is YES, but you will need to extend the backend connector (i guess you will use ftp)

To be used as an example I've created a demo connector with ftp.. obviously is not 100% completed.. but maybe can be a help to start
https://github.com/joni2back/angular-filemanager/blob/master/bridges/php/handler.php

[2017-02-13 13:03] voosam commented on #234
@joni2back @durasj Political, structural and clear No to run the project
It does not work with most users
We will be thankful to you in the event of a detailed explanation Khtzac

[2017-02-14 08:53] voosam commented on #234
When running the project, the following occurs

![pic-20170214-102134](https://cloud.githubusercontent.com/assets/25135184/22920779/680706ec-f29f-11e6-9d00-4dcf7648c4e8.png)

and When you run a file on the server

![pic-20170214-102635](https://cloud.githubusercontent.com/assets/25135184/22920915/11618582-f2a0-11e6-94a9-431cd1c2cd41.png)

An attempt to run the file do I modify it

[code]

But the

[2017-02-16 09:02] karthigamahe opened #242 "How to integrate this filemanager in existing project"
This is working fine on demo i want this same process in my project how to integrate this on my project

[2017-02-19 08:16] ibnYusrat commented on #135
you rock!

[2017-02-19 21:50] durasj commented on #200
Hi guys,

if anyone is following this thread or will stumble upon this, I created a bundle which should work out-of-the-box, also with short instructions and some common questions and answers.

Here it is: [bundle-php-local](https://github.com/durasj/angular-filemanager/tree/bundle-php-local)

Hopefully, it will help somebody

[2017-02-19 21:51] durasj commented on #234
Hi @voosam,

I created a bundle which should work out-of-the-box, also with short instructions and some common questions and answers for you: [bundle-php-local](https://github.com/durasj/angular-filemanager/tree/bundle-php-local)

Can you try it and let me know how it works?

[2017-02-19 21:51] durasj commented on #205
Hi @unbreakabl3,

I created a bundle which should work out-of-the-box, also with short instructions and some common questions and answers for you: [bundle-php-local](https://github.com/durasj/angular-filemanager/tree/bundle-php-local)

Can you try it and let me know how it works?

[2017-02-19 21:52] durasj commented on #233
Hi @VIPINSAINI17,

I created a bundle which should work out-of-the-box, also with short instructions and some common questions and answers for you: [bundle-php-local](https://github.com/durasj/angular-filemanager/tree/bundle-php-local)

Can you try it and let me know how it works?

[2017-02-19 21:54] durasj commented on #237
Hi @inlakin ,

what is it please that didn't work? Do you mean you didn't get a list of the files / bridge error?

There is a great possibility you didn't have a bridge configured correctly.

[2017-02-19 21:56] durasj commented on #242
Hi @karthigamahe ,

if you are using PHP, a good starting point could be my bundle which should work out-of-the-box, also with short instructions and some common questions and answers: [bundle-php-local](https://github.com/durasj/angular-filemanager/tree/bundle-php-local).

How does please your existing project looks?

[2017-02-20 07:37] ibnYusrat opened #243 "Restricting upload file-types or file mimes, also the files that are displayed.."
Hello Everyone,

Can anyone please help me understand this:

1. I am trying to restrict the file types/file mimes that a user can possibly upload using this file manager. Can someone please guide me to the right direction? I am using the php-local bridge.

2. Can I restrict the file extention/mime-type that the file manager displays?

Any help will be highly appreciated.
Thank you all in advance.

[2017-02-20 15:08] swer21 opened #244 "php-local file name encoding"
I'm using php-local and discovered some problems with file name encoding.
For example  "Die Ärzte" was shown as "Die Ãrzte". As a result the folder was not  browseable.

I fixed it by  removing  utf8_encode from bridges/php-local/LocalBridge/FileManagerApi.php.

Is this safe or is there a better way to fix the problem?

[2017-02-21 07:44] shreyas-embedded commented on #155
I downloaded the code and tried viewing index.html but it gave me error 1:bridge response error,please check the API docs or this ajax response.
![error1](https://cloud.githubusercontent.com/assets/16622350/23155194/9ece81da-f837-11e6-8267-23680547d465.png)

[2017-02-21 10:26] durasj commented on #155
Hi @shreyas-embedded,

try my bundle following the [Usage Instructions](https://github.com/durasj/angular-filemanager/tree/bundle-php-local#usage).

[2017-02-21 10:29] durasj commented on #244
Hi @swer21,

I will be taking a look at this soon as I also experienced this with some other people.

[2017-02-22 05:50] tioammar commented on #164
still won't work on Mac ProFTPD

[2017-02-22 10:56] slillo opened #245 "configuration should be per instance"
I would like to use angular-filemanager multiple times with different configuration in the same page. Could be very useful to pass custom configuration to directive scope using syntax like:

<angular-filemanager configuration="vm.cfg1"></angular-filemanager>

Where vm.cfg1 could be something like {listUrl: "", ...}.

[2017-02-22 11:59] slillo commented on #245
sorry, I've not seen #176

[2017-02-22 14:11] ibnYusrat commented on #243
Anybody?

[2017-02-22 18:07] slillo opened #246 "break translation provided via partial loader"
Seems to break translation provided via partial loader

I'm using it in a spa. The entry point module of my application configure angular translate in this way:

`angular.config(["$translateProvider", "$translatePartialLoaderProvider",function($tp,$tpl){
$tp.useLoader('$translatePartialLoader', {urlTemplate: '{part}{lang}.json'})
        .useSanitizeValueStrategy('escapeParameters')
        .prefe

[2017-02-23 07:23] kevenhall opened #247 "Installation guide"
Hello,

I am miss some information like required angular version. What is the min. version?

[2017-02-23 08:11] slillo commented on #247
if you take a look at bower.json file, under dependencies you can see:

`"angular": "~1.5.0"`

[2017-02-23 09:04] groschatchauve commented on #82
I had the same problem when using WAMP PHP version and I resolve it by setting up an original version of PHP from the official website. Don't forget to update the Path environment variable which include the PHP folder you want to use.

[2017-02-26 01:34] mensur commented on #155
@durasj I have tried to install your bundle and I'm getting an error.
"Function not available".

![image](https://cloud.githubusercontent.com/assets/80660/23336305/7d28d4c0-fc17-11e6-9cc7-4edaba9165a3.png)

What function is missing?

[2017-02-26 09:31] durasj commented on #155
I don't know of any function that could be missing right after the installation.

Can you please tell me what's your setup (web server etc.)?

[2017-02-27 10:52] Nazirkulov opened #248 "bower install wrong navbar.html"
navbar.html have double id="dropDownMenuLang" if we install plugin with bower

[2017-03-02 12:12] Sven1981 commented on #235
I guess it is because of the successCallback parameters in the apihandler.js. After changing this and building again with gulp the problem was solved for me.

Before:
[code]

After:
[code]

[2017-03-04 14:09] varungpt commented on #233
Hi @durasj,

I still cannot make it work, error: 'Function not Implemented'.

kindly help if possible
thanks

[2017-03-04 14:33] durasj commented on #233
Hi @varungpt,

can you please tell me what is your setup? I.e. what web server are you running and anything else that can help me. Because otherwise, I'm afraid I can't help you from what you wrote.

[2017-03-04 14:37] varungpt commented on #233
@durasj , I am using Ubuntu 16.04 (installed PHP and Apache), I can see index.html page on visiting localhost but it is showing error mentioned above.

[2017-03-04 14:54] durasj commented on #233
@varungpt  can you please try whether creating index.php with

`<?php phpinfo();`

as content and visiting it in the browser will give you usual PHP info page?

[2017-03-04 15:05] varungpt commented on #233
@durasj PFA the output.
[phpinfo.pdf](https://github.com/joni2back/angular-filemanager/files/818711/phpinfo.pdf)

[2017-03-04 17:12] durasj commented on #233
@varungpt thanks, looks good. I will try it on Ubuntu. I'm not running the Apache server there, but that shouldn't be a problem. Will let you know.

[2017-03-04 18:26] durasj commented on #233
@varungpt looks like the Apache was the issue there. I made some changes and created a [new bundle](https://github.com/durasj/angular-filemanager/blob/bundle-php-local/bundle/master-2017-03-04.zip).

Please take a look at it and let me know whether it works.

[2017-03-05 02:02] varungpt commented on #233
@durasj still not working, it is showing error: "Error 500 - Bridge response error, please check the API docs or this ajax response", and response is empty 500 error.

[2017-03-05 07:42] durasj commented on #233
@varungpt check your apache error log. If there will be error about utf encode function not being defined, make sure you have the php-xml extension.

[2017-03-05 09:43] varungpt commented on #233
@durasj installing php-xml helped and now it is working fine.
Thank you very much for the help.

[2017-03-08 21:46] Vingtoft opened #250 "Angular2 migration"
Any plans on migrating this wonderful filemanager to Angular2?

[2017-03-09 02:17] thelimiao commented on #240
me too

[2017-03-09 02:21] thelimiao opened #251 "could not preview/download the uploaded images, or files"
hola，

i have successful put the code on my web and configured the ftp config. it seems work well. but i met two problems :
1: could not preview/download the uploaded images, or files
2: could not entered the document on my mobile phone(iphone 6).

gracias.

[2017-03-09 02:47] thelimiao commented on #229
neither works on android mobile phone (huawei, a chinese mark)  :(

[2017-03-10 13:57] tufkan opened #252 "This is demo?"
This project is demo??? If not, how can I fix it?
<img src="http://image.prntscr.com/image/05cdf196ad7c454cbd57bdc0cebe70ad.png">

[2017-03-15 09:24] tufkan commented on #252
Help me please

[2017-03-16 12:20] joni2back commented on #252
The source code of the backend connector Yes.. Is a demo to use the angular-filemanager.
You have here all the frontend/javascript part... You will only need to build your own backend connector in any language

[2017-03-16 12:20] #252 closed

[2017-03-16 12:33] joni2back commented on #246
Hi.. Can you write more details about it? And examples if possible

[2017-03-16 12:33] joni2back commented on #244
Hi @durasj this was fixed in your last PR ?

[2017-03-16 12:38] tufkan commented on #252
From which codes can demo passive?

[2017-03-16 13:17] durasj commented on #244
Hi @joni2back, yes, that's right.

[2017-03-16 13:53] damiankaczkowski commented on #225
Hello. I have installed @durasj local bundle. I am getting the same error when selecting few files and trying to use Download as ZIP function. php-zip extension is installed on the server. Do I have to install devDependencies using npm or does the bundle already contains all dependencies?

[2017-03-16 13:54] tufkan commented on #252
@joni2back how can build your own backend connector in any language

What is the File name???

[2017-03-16 14:39] slillo commented on #246
Hi, I'm using angular-filmanager as explained on README.md file, in an existing project where I use angular-translate (pascalprecht.translate module). My project is a SPA composed by a lot of angular modules. Each of these angular modules has its own translations in a json file loaded via partial loader.

More about partialLoader is available here: https://angular-translate.github.io/docs/#/guide/

[2017-03-16 15:27] durasj commented on #225
Hi guys,

I will take a look at it soon. It should be implemented.
Install devDeps is absolutely not neccessary.

[2017-03-16 17:18] durasj commented on #225
I see there is a compress action implemented. But there is missing support for two actions done via GET. I think I know why they are not implemented. I guess I didn't like the way it's done on the front end, sending the body in the GET request, which is [not the way to go](http://stackoverflow.com/a/983458).

I'll see what I can do.

[2017-03-17 02:54] #244 closed

[2017-03-17 02:54] joni2back commented on #244
Hi @swer21 this is now fixed in master

[2017-03-17 15:19] damiankaczkowski commented on #225
I see. Thank you in advance @durasj for your help.

[2017-03-18 17:40] master3395 opened #254 "Copy folder"
Hello, was not sure were to put suggestions.
As i see there's no way to "copy" a folder.
Only files.

So my suggestion would be a way to copy/dupicate folders.

[2017-03-20 17:39] SeanFacer opened #255 "Installation"
Hi Guys,

I'm trying to add this to my codeignitor project. I'm not getting anything though.
Below is my code.

<html lang="en">
<head>

    <script src="<?php echo base_url()?>bower_components/angular/angular.min.js"></script>
    <script src="<?php echo base_url()?>bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="<?php echo base_url()?>bower_components/jque

[2017-03-20 17:40] SeanFacer commented on #255
@durasj I tried your php bundle that didnt work either, am I missing something simple here, I'm fairly new to angular?

[2017-03-20 19:49] durasj commented on #255
Hi @SeanFacer,

could you please say what error do you get, how you know it's not working?

[2017-03-21 10:39] SeanFacer commented on #255
Hi

@durasj thanks for your quick response!, theres no error, nothing displays

Thanks

[2017-03-25 16:22] durasj commented on #255
Hi,

so I guess there has to be some JS error in the console or otherwise, JS isn't loaded at all.

Could you please check the console in the developer tools?

[2017-03-31 18:59] damiankaczkowski commented on #225
Hello @durasj . Did you mange to find some time to look into this? Could you give some hints where is the problem and which files needs to be fixed?

[2017-04-05 12:58] joni2back commented on #250
Hi @Vingtoft
Migration to angular2 is not yet planned

[2017-04-05 12:58] #250 closed

[2017-04-05 12:59] joni2back commented on #248
Hello @Nazirkulov can you give us more details?

[2017-04-06 08:08] Jeelani786 opened #258 "How to include in existing MVC-C#-Angularjs-1.5.8-AngularMaterial-v1.1.1 based Project"
Hi, I am trying to include your project inside my project which is built using **MVC 5(C#)+Angularjs-1.5.8+AngularMaterial -v1.1.1**. How do I include if you have any guidelines for that then please provide. Right now I have included as below and getting this error([$injector:unpr] Unknown provider: fileManagerConfigProvider). and see nothing on the screen.
**And currently I am not using any bridg

[2017-04-06 16:08] haxxorsid opened #259 "Error 500 for extracting and compressing files and upload failed for some files"
I am experiencing error 500 for extracting and compressing files.
I have tried using this [Repo](https://github.com/durasj/angular-filemanager) by @durasj. But still problem not solved. And I am also recieving upload failed error for some files, I don't why, is there any limited size set for uploading a file? Because there is no problem with my php.ini settings.

[2017-04-07 08:04] Nazirkulov commented on #248
after "bower install angular-filemanager --save" we can see foler angular-filemaneger in folder bower_components in our project. Then we go to bower_components/angular-filemanager/src/templates/navbar.html and see html markup which contains two buttons with the same id='dropDownMenuLang' . If we download the zip file directry from https://github.com/joni2back/angular-filemanager/archive/1.5.1.tar.

[2017-04-09 15:54] durasj commented on #225
Hi @damiankaczkowski, sorry for late reply. I'll take a look at it on Friday, 14.4. I got in touch with @joni2back but haven't received any response regarding the issue, so I'll probably write some workaround for now.

[2017-04-09 15:55] durasj commented on #259
Hi @haxxorsid, I am afraid I need more debugging info like PHP error logs or some client side JS error I can start from. Extracting should be fine. Compression / downloading multiple files is currently not supported, see #225, due to some problems. There will be some update soon.

Regarding the file size, looking at the [config](https://github.com/joni2back/angular-filemanager/blob/master/src/js/p

[2017-04-09 16:00] durasj commented on #258
Hi @Jeelani786, I think you are missing the config. [as can be seen in the README](https://github.com/joni2back/angular-filemanager#extending-the-configuration-file).

Btw you'll need to use some "bridge". Because you can't simply access the FS using the plain web browser. The bridge connects your filesystem with the web interface.

You can write one yourself or use one of the provided bridges.

[2017-04-09 16:02] durasj commented on #254
Hi @master3395, a workaround, for now, could maybe be to compress some folder and then decompress it.

[2017-04-10 03:27] AshDevFr commented on #233
Hi I have the same issue.
I am using a Docker image of php7 with apache and even if I install php-xml I still have the issue. 'Function not Implemented'
It happens with the first POST (action list)
I will try with php-fpm but I don't understand what is the real problem.
How can I check that my php-xml is active and working properly ?

[2017-04-10 04:13] AshDevFr commented on #233
@durasj I may have found the issue.
https://github.com/joni2back/angular-filemanager/blob/master/bridges/php-local/LocalBridge/Rest.php#L153

Shouldn't it be a AND (&&) instead of a OR (||) ?

[2017-04-10 06:43] durasj commented on #233
Hi @AshDevFr , yeah, that's how it was before. Also on two more lines below. Would you be so kind and try it and then create a PR? Otherwise, I will do so by the end of the week.

Regarding the debugging, the best thing you can always do is to check your PHP error logs. In the case of php-xml there would be error about utf encode function not being defined. But that shouldn't be a problem now, sin

[2017-04-11 06:25] Jeelani786 commented on #258
Hi **@durasj**, I have exactly no idea about how to write bridge, can you explain how to do that in ASP.Net MVC 5 C#.
Thanks.

[2017-04-13 07:31] damiankaczkowski commented on #225
Thank you @durasj . Hope you will find some free time to look at this.

[2017-04-14 20:50] durasj commented on #258
Hi @Jeelani786,

you need to create HTTP server in ASP.Net (not sure how to do it, I've never wrote a single line in it) following the [API docs](https://github.com/joni2back/angular-filemanager/blob/master/API.md).

[2017-04-14 21:59] durasj commented on #259
Hi @haxxorsid,

extracting/compression and multiple files download was fixed in the local php bridge and will be probably merged to the main repo in the future. [Latest bundle](https://github.com/durasj/angular-filemanager/tree/bundle-php-local) already contains all fixes.

[2017-04-14 22:02] durasj commented on #225
Hi @damiankaczkowski,

extracting/compression and multiple files download was just fixed in the local php bridge and will be probably merged to the main repo in the future. [Latest bundle](https://github.com/durasj/angular-filemanager/tree/bundle-php-local) already contains all fixes.

[2017-04-17 03:27] slime7 opened #262 "[php-local-bridge]problem listing files under some folder with '!'"
hi @durasj
Php-local cant list files under folder with '!'. example '[Kono Subarashii Sekai ni Shukufuku o! 2][s2-01-10 END][720p][GB]' or '[CASO&SumiSora][Sound!Euphonium2][01][GB][720P][01-13]'. `bridges/php-local/index.php` just return `[]`.
![3](https://cloud.githubusercontent.com/assets/8674371/25077844/28da58a6-2360-11e7-9ed4-6e59064e40a9.png)

[2017-04-17 06:53] smart-dream opened #263 "ECONFLICT Unable to find suitable version for angular"
I use the version of the 1.4.8 version of the band (angular version can not be upgraded), but the angular-filemanager (1.5.0 version) depends on the 1.5.0 of the angular, how can I solve

[2017-04-17 15:40] bhaidar opened #264 "How to use the file manager in ASP.NET MVC 5"
Hi,
In the readme one of the future plans to integrate with ASP.NET MVC.
Any work have been done in this regards?

Thanks
Bilal

[2017-04-18 18:22] vgogov opened #265 "Possible to render in a Angular2 component?"
Hello,

Is it possible to render the file manager in an Angular2 component. Assuming everything could install, can we just place it inside a Angular2 component html via: <angular-filemanager></angular-filemanager> ?

Thanks!

[2017-04-19 06:43] #263 closed

[2017-04-19 10:06] damiankaczkowski commented on #225
Thank you @durasj ! I have just tested new bundle and it is great, but I have found one more problem. Download as Zip and Compression works ok for files. However compression of dirs fails with error: "Compression failed". Also I can't find a direct way to "download as zip" selected directory or directories. Is this by design?

[2017-04-19 10:49] damiankaczkowski opened #266 "Recursive Search functionality does not work."
Hello.

I am currently using @durasj local bundle. When I am trying to search for file it only find files in current directory, it does not search recursively. I have tried to find some option to control this behavior here:

https://github.com/joni2back/angular-filemanager/blob/master/src/js/providers/config.js

But I failed to find one.

Is this a bug or by design? If this is by design, do you pl

[2017-04-20 07:11] stanciupaul opened #267 "Missing dependency from installation guide"
Please add the following dependency to documentation at step _2) Include the dependencies in your project_, otherwise initial project setup will not work:

`<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>`

[2017-04-23 09:39] durasj commented on #266
Hello @damiankaczkowski,

I don't believe feature like that is currently implemented in the whole project, not only in the php local bridge.

I don't think there are any plans to do so. I believe PRs are always welcome.

[2017-04-23 13:46] durasj commented on #221
Hi @Legoman99573,

that's expected and wanted behavior. If you want to remove the dir, you need to remove it's content first. This is to prevent the user from accidentally removing files in the dir.

Since there isn't currently any support for dialogs like "This directory is not empty. Would you still like to remove it?", it was the best I could come with.

[2017-04-23 16:33] durasj commented on #225
Hi @damiankaczkowski, I (hopefully) fixed the mentioned issue with dir compression also with some other issues. It's available in the [current bundle](https://github.com/durasj/angular-filemanager/tree/bundle-php-local) and hopefully also soon in the main repo.

[2017-04-23 16:34] durasj commented on #262
Hi @slime7,

I can easily reproduce the issue. Characters like []!* are causing issues since globbing is used for listing. I changed that in the [current bundle](https://github.com/durasj/angular-filemanager/tree/bundle-php-local) and hopefully it'll also be soon in the main repo.

[2017-04-23 16:40] durasj commented on #243
Hi @ibnYusrat,

you can modify my php-local bridge to:

- only list the wanted type of files [around these lines](https://github.com/durasj/angular-filemanager/blob/bundle-php-local/bridges/php-local/LocalBridge/FileManagerApi.php#L284).
- reject uploading of unwanted types of files [e.g. there](https://github.com/durasj/angular-filemanager/blob/bundle-php-local/bridges/php-local/LocalBridge/FileM

[2017-04-27 06:59] GurumurthyPana opened #269 "Error 404 - Backend bridge is not working, please check the ajax response."
when I try to creat new folder or upload , that time it's giving error.
and in console giving error like this:  "POST http://gurumurthy.lvh.me:3000/userinterface/pages/bridges/php/handler.php 404 (Not Found) "

[2017-05-02 02:41] slime7 commented on #262
@durasj, It works on every character now, thanks.

[2017-05-02 02:41] #262 closed

[2017-05-04 11:50] ayZagen commented on #246
+1

[2017-05-04 13:38] ayZagen opened #270 "Tree node cannot be collapsed unless clicked parent node"
If the folder is expanded, it cannot be collapsed when we click again it. If we want to close it we should click to the parent node. Folder should be collapsed when we click to the folder icon or arrow icon.

[2017-05-04 15:15] ayZagen opened #271 "No compability with IE 11"
in IE 11
![screenshot_2](https://cloud.githubusercontent.com/assets/11196940/25710660/8ec94620-30f5-11e7-8c75-cb241967760d.png)

in chrome
![screenshot_1](https://cloud.githubusercontent.com/assets/11196940/25710675/9760517a-30f5-11e7-99ca-69e6b939307d.png)

[2017-05-05 10:15] jeysinghanbu opened #272 "How to open or preview the PDF file ?"
I have uploaded  a `PDF ` file in File manager. But It did not open or preview the file.

I would like to open a PDF file in a modal or a new browser tab. Is there any other way to achieve this?

Thanks

[2017-05-12 03:40] myhexa opened #274 "Can't Edit Files"
Hello!

I just installed the File Manager on my website. I am getting this error now when I try editing a file. I also can't delete files.

![screenshot 2017-05-11 at 10 39 55 pm](https://cloud.githubusercontent.com/assets/26014766/25981440/c661ac8a-369a-11e7-8be1-ce80ee84da1f.png)

Thanks!

Hexa
https://hexa.gq

[2017-05-16 01:34] joni2back commented on #272
Hi @jeysinghanbu preview pdf feature is not available yet

[2017-05-16 01:34] #272 closed

[2017-05-16 01:35] #269 closed

[2017-05-16 01:36] joni2back commented on #270
Hi @ayZagen this is not the behaviour that we are using. But I will take it into account for the next release

[2017-05-16 01:36] #270 closed

[2017-05-16 01:37] joni2back commented on #264
Hi @bhaidar you will need to create your own bridge/connector following the API docs
Then you will need to change the endpoint urls to request to your back

[2017-05-16 01:37] #264 closed

[2017-05-16 01:38] joni2back commented on #266
Hi @damiankaczkowski the search functionality for the moment is only for the current folder.

[2017-05-16 01:38] #266 closed

[2017-05-16 01:39] joni2back commented on #274
Hi @myhexa . As the message says this action is not available in the demo.
We provide only the frontend for this file manager, but for the backend side you will need to create your own connector.

[2017-05-16 01:39] #274 closed

[2017-05-16 01:39] #259 closed

[2017-05-16 01:40] #258 closed

[2017-05-16 01:41] joni2back commented on #254
Hi @master3395 I will take this into account... but will take some time also for backend side

[2017-05-16 18:25] VincentBlouin commented on #180
Hi,
Is there any development on this feature ? I need this too :) Would you mind sharing the changes you made to make to get id of file when listing and download using this id. I don't mind not having the bridge, because I use a custom bridge :) Thanks !

[2017-05-16 19:23] bzvyagintsev opened #276 "How to open/close access for certain user"
Is it possible to change access setting for certain user in frontend?

I create simple user model in database and have variable in angular {{currentUser}}.
How can I change the permissions for this user? For example hide specific folders, or change basePath?

I try to create folders for every user, and change basePath (in Angular main controller) for them, but if I change basePath like this:

`con

[2017-05-22 02:46] GerardBalaoro opened #277 "Cannot Download Large Files"
When downloading large files (videos, zip files, etc.), it browser displays blank page.
On IDM, it will download an HTML file.

[2017-05-22 02:49] #277 closed

[2017-05-26 00:27] vaibhav-rbs commented on #265
+1 for ^^

[2017-05-29 06:25] capitalfuse opened #278 "upload file name extension "." to "-""
Dear Sir or Madam,
I appreciate for the angular-filemanager application developers.
I don't understand why upload file name extension changed to "-" from "." when uploaded a file from other PC.
Example) changed "music.mp3" to "music-mp3".
So, I changed the following code, inactive "private function normalizeName($name)"
**bridges/php-local/LocalBridge/FileManagerApi.php**
[code]
Fixed by above met

[2017-05-30 12:23] frostraver opened #279 "folder structure not showing on load in the navbar"
I'm having trouble showing the folder structure in the navbar on load.
Only when I press home on the breadcrumb bar it starts showing the folders in the navbar. This home button also isn't what it's supposed to be based on what I set as basePath. Is this intended behaviour?

[2017-06-03 10:39] durasj commented on #278
Hello @capitalfuse,

yes, you are right! Dot in the ext. shouldn't be replaced. But the solution is not to simply disable the normalization but instead, I applied the [normalization to the name of the file only](https://github.com/durasj/angular-filemanager/commit/0366ba82ad9bea4d2551cbb696b36c6b42dcbeb9). Thanks for reporting that!

Opened [PR with the fix](https://github.com/joni2back/angular-fi

[2017-06-08 12:38] joni2back commented on #278
fixed in #280

[2017-06-08 12:38] #278 closed

[2017-06-15 00:15] joshribakoff commented on #204
On the demo if I request bower.json it says 1.5.1
My bower.json says 1.5.1

This problem does not exist on the demo, but does on my localhost. I confirmed the inProcess flag is incorrect. If I remove that flag it does let me upload.

[2017-06-15 00:16] joshribakoff commented on #183
+1

[2017-06-15 00:19] joshribakoff opened #281 "Doesn't work in an app using ng-router, Angular link issue href="#""
'#' invokes a route change. Since the demo does not use a router there is no problem, however any real world app using a router will fail. having href="#" overrides the ng-click, so the page does a route change instead of invoking ng-click.

Problem - clicking on upload files reloads to my app's dashboard
Solution - change href="#" to href="", or even href="javascript:void", or omit href attribute

[2017-06-15 06:08] joshribakoff opened #282 "No mobile support"
On iPhone 6 Plus safari it is unusable. Double tap zooms in instead of going into folder. I cannot access the right click menu by long tapping either.

[2017-06-15 06:11] joshribakoff commented on #276
Separate folders per user perhaps? Or modify the backend bridge to omit files. This really isn't any concern for the user interface in my opinion, it's logic that belongs in your backend...

[2017-06-15 18:41] joni2back commented on #276
Hello @bzvyagintsev I totally agree with @joshribakoff this needs to be fully covered from backend bridge.

Btw if your app is not using any kind of session, maybe you can pass those vars by url extending the config... example

[code]

[2017-06-15 18:41] #276 closed

[2017-06-21 21:32] HowToDoThis opened #283 "Can I Set Root Path?"
Hi, my webhosting was link ftp with / instead of public_html/ , anyways can change the path to /public_html/"something" ?

#the webhosting I using was [000webhosting](https://www.000webhost.com/)

[2017-06-23 15:33] joni2back commented on #283
Hey! Extend the config file as the doc says..

[code]

[2017-06-23 15:33] #283 closed

[2017-06-24 21:16] GlauberF opened #284 "Component"
How to use, file manager as component?

[2017-06-29 12:10] HFO4 opened #285 "Is it possible to refresh the file list via another js program"
Thanks for creating such an awesome library.And I'm wondering if it Is possible to refresh the file list using another part of js code (not an angular one)?

[2017-06-29 15:17] joni2back commented on #285
It is not recommended but you can do something like

[code]

[2017-06-29 15:17] #285 closed

[2017-07-04 16:11] ronwong82 opened #286 "Drag & Drop"
Hello @joni2back , Very impressive work!
I have been using this in my private projects and I have implemented drag & drop.  Can I share my DnD implementation with you? I see it's not done yet.

[2017-07-09 22:38] joni2back commented on #286
Hey @ronwong82 !! Would be amazing!!
Please send a PR !! Regards

[2017-07-11 20:24] GlauberF opened #288 "Get | Download"
Work with jwt in my project, I created an interceptor in the module, so that every request sends jwt and la in the backend I identify the user and load folders only from him, or create folder inside his directory.
But in the case of downloading my interceptor can not inject JWT, how does it work see image and download?
Or how to modify so that my interceptor can inject the jwt in the get of image

[2017-07-11 20:26] GlauberF commented on #251
I was able to solve the problem, I have the same problem.

[2017-07-12 03:10] jacklatness commented on #251
So how did you solve it? It would be much appreciated if you will share how you solve it! Thanks

[2017-07-17 13:51] HowToDoThis opened #289 "I know This is DEMO, But How To Write PHP Connector..."
Sooooooooo, I know THIS was DEMO Version of angular-file manager, and i read a lot issues before, but i want to know, how can us write a PHP Connector Of it?

#i just a newbie, starting codding in 1 months only

[2017-07-17 14:02] HowToDoThis commented on #251
I using Latest Version of Angular-File Manager,
1. Preview/Download the uploaded images and files i work successfully.
2. iPhone i haven't Test yet, but android phones, we need click twice to open folder.
You can Test in my Website, howtowebfile.xyz select public_html then done, you can preview lolz

[2017-07-17 14:05] HowToDoThis commented on #271
Seems like my IE11 Working
![image](https://user-images.githubusercontent.com/15705176/28271745-ff9c2b94-6b3b-11e7-9358-74e13e332fde.png)
Maybe just a bug lolz

[2017-07-17 14:07] HowToDoThis commented on #267
Actually, I recommend use original index.html, because orig was filled up correctly.

[2017-07-17 19:08] ericksonnascimento commented on #289
Just check [here](https://github.com/joni2back/angular-filemanager/tree/master/bridges/php)

[2017-07-19 16:53] #289 closed

[2017-07-26 09:24] ronwong82 commented on #286
Ok thanks. I willl.

[2017-07-28 09:49] viralchauhan opened #290 "Upload Not work 4 mb file"
dear joni2back,
i have one pdf file this file size is 4 mb, this file not upload in ftp.

[2017-08-04 13:26] joni2back commented on #290
you must check your php config.ini in order to increase the upload limits

[2017-08-04 13:26] #290 closed

[2017-08-04 13:50] MostafaEakram opened #291 "working with ASP.NET"
Hi
I am try to implement this in my .net project but i cant . Would you please give me a sample project so that i can understand and use your things

[2017-08-04 18:07] joni2back commented on #291
You will need to make your own ASP bridge following the [connector API](https://github.com/joni2back/angular-filemanager/tree/master/API.md).
Also you can check our example bridges in many languages [here](https://github.com/joni2back/angular-filemanager/tree/master/bridges).

[2017-08-04 18:07] #291 closed

[2017-08-08 14:14] BaigSahaab opened #292 "Input type: XML?"
Hey there,

i just want to know, can we give directory listing in an XML tree form, i mean can we give it XMl file and this will do the structure as it does with the path/directory given?